/* container */
.container {max-width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-data {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
}
#header .header-title {
    font-family: "SF Pro Display";
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px; 
    margin-bottom: 15px;
}
#header .header-id {
    font-family: "SF Pro Display";
    position: absolute; right: 0; bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(149.16deg, #A4A9B5 10.18%, rgba(164, 169, 181, 0) 81.31%), #C4C4C4;
}


/* banner */

.banner-title .bt-stit{color: #da5e7c; font-size: 12px; line-height: 1.67; font-family: "SF Pro Display"; }
.banner-title .bt-tit{font-size: 22px; padding-bottom: 5px; font-family: "SF Pro Display";}
.banner-title .bt-desc{font-size: 22px; font-weight: 300; color: #818181; margin-bottom: 10px; font-family: "SF Pro Display";}

/* recentMusic */
#recentMusic {
    padding: 10px 0;
    margin-top: 40px;
    overflow: hidden;
    overflow: hidden;
    position: relative;
}
.row-title{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EBEBEB;
}
.row-title .Music-title{
    font-family: "SF Pro Display";
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px; 
}
.row-title .Music-stit{
    font-family: "SF Pro Display";
    font-size: 20px; 
    font-weight: bold; 
    padding-top: 20px;
    color: #da5e7c;
}

#next .nextimg { 
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
#next .nextimg .img1 {width: 49%;}
#next .nextimg .img2 {width: 49%;}
.next-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.next-tit {
    position: relative;
}
.next-tit .next-id span {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 7%; left: 28%;
    color: #fff;
}
.next-id::before{
    content: '';
    width: 16px;
    height: 16px;
    background: #a09a9a;
    position: absolute;
    top: 13%;left: 28%;
    border-radius: 50%;
}

.next-title1 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.next-stit {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #ccc;
}

