/* wrap */

.wrap {
    max-width: 1000px; margin: 0 auto;
    height: 100%;
    background: #e6c5c5;
}

/* header */
#header {
    position: relative;
}
#header img{
    width: 100%;
}


/* container */
.container {
    max-width: 1000px; margin: 0 auto;
}

/* row */
.row {
    position: relative; margin: 0 20px;
}

#header .container {

}
#header .container .row{}
.row .header-data {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}
.row .header-title {
    position: relative;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EBEBEB;
}
.row .header-id {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
#header .row .header-id span {
    position: absolute;
    top: 49%; left: 92%;
    z-index: 1;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #ebebeb;
}
.header-id span::before {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    top: 68%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: linear-gradient(228.69deg, #C5B4B4 8.76%, rgba(255, 255, 255, 0) 97.7%), #C4C4C4;
    z-index: -1;
}
/* banner */
.banner {}
.banner .banner-title{font-family: "SF Pro Text"; padding-top: 15px;}
.banner .banner-title .bt-stit{font-size: 12px; line-height: 29px; color:#DA5e7C;}
.banner .banner-title .bt-tit{font-size: 22px; line-height: 34px;}
.banner .banner-title .bt-desc{font-size: 22px; line-height: 34px; color: #818181; font-weight: 100;}

.banner img{width: 100%; padding-top: 10px; padding-bottom: 16px;}

/* recentMusic */
#recentMusic {
    position: relative;
    padding-top: 20px;
}
.row-title{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding-top: 19px;
}
.row-title .Music-title{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.row-title .Music-stit{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #da5e7c;
}
#next .nextimg { 
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
#next .nextimg .img1 {width: 49%;}
#next .nextimg .img2 {width: 49%;}
.next-title {
    position: relative;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.next-tit {
    position: relative;
}
.next-tit .next-id span {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 7%; left: 28%;
    color: #fff;
}
.next-id::before{
    content: '';
    width: 16px;
    height: 16px;
    background: #a09a9a;
    position: absolute;
    top: 13%;left: 28%;
    border-radius: 50%;
}

.next-title1 {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.next-stit {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #ccc;
}

