@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/main.png);
    background-color: rgb(234, 234, 234);
}
/* layout */
#header {} 
#main {}
#section1 {width: 100%; padding-bottom: 10vw; overflow: hidden; height: 145vw;}
#section2 {width: 100%; height: 100%; overflow: hidden;}
#section3 {width: 100%; height: 100%; overflow: hidden;}
#section4 {}

/* scroll */
.scroll {
    position: fixed; left: 20px; bottom: 20px;
    width: 40px; height: 40px; 
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
}

/* header */
#header {
    position: relative;
}
#header h1 {
    position: absolute;
    left: 3vw; top: 3vw;
    width: 100px;
}
   
#header #nav {
    position: absolute;
    right: 3vw; top: 3vw;
}
#header #nav li {
    text-align: right;
}


#header #nav li a {
    margin-top: 1.1vw;
    font-family: 'Poppins', sans-serif;
    color: #222534;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
}


/* paint1 */
.paint1 .pntbg {
    position: absolute; 
    top: -10vw; right: 12vw;
    width: 30vw;
} 

.paint1 .sTitle {
    padding: 60vh 0 10vw 15vw;
    position: relative;
    display: inline-block;
}

.paint1 .sTitle strong{
    display: block;
    font-family: "Poppins", sans-serif;
    color: #222534;
    font-size: 2.2vw;
    line-height: 3.2vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
}
.paint1 .sTitle strong:last-child {
    font-weight: 200;
    position: relative;
}
.paint1 .sTitle strong:last-child::after {
    content: '';
    width: 5vw; height: 1px;
    background: #222534;
    position: absolute;
    bottom: -1.5vw; left: 0vw;
}


.paint1 .sImg h3{
    font-size: 28vw;
    font-family: 'Montserrat', sans-serif;
    color: #222542;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(90deg);
    position: absolute;
    top: 53vw; right: -50vw;
    z-index: 100;
}


.paint1 .sImg figure {
    /* max-width: 100%; */
    width: 25vw;
    position: absolute;
}
.paint1 .sImg .figure1 {left: 40vw; top: 22vw; z-index: 110; transform: rotate(-30deg);}
.paint1 .sImg .figure2 {right: 7vw; top: 50vw; z-index: 90; transform: rotate(30deg);}
.paint1 .sImg .figure3 {left: 40vw; top: 75vw; z-index: 90; transform: rotate(-30deg);}


/* about */
#about {
    height: 50vw; width: 100%;
    position: relative;
    margin-top: 30vw;
}
/* section2 */
#section2 h3 {
    height: 40vw;
    width: 50vw;
    font-size: 18vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 37, 66);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 8vh; right: 0vw;
    overflow: hidden;
}
#section2 h3 strong {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.3vw;
    letter-spacing: 0.05em;
    color: #222542;
    display: block;
}
#section2 h3 strong a {
    position: absolute;
    top: 0.4vw; left: 9vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 3vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222542;
}
#section2 h3 strong:last-child {
    position: relative;
    font-weight: 200;
}
#section2 h3 strong:last-child:after {
    content: '';
    width: 7vw;
    height: 0.3vh;
    background-color: #222542;
    position: absolute;
    top: 1.9vw;
    left: 0vw;
    display: flex;
    align-items: center;
}

#section2 .sec2 {
    position: absolute;
    left: -1vw;
    top: 20vh;
    right: auto;
    bottom: auto;
    z-index: 14;
    width: 45vw;
    opacity: 0.85;
}
#section2 .sec3 {
    position: absolute;
    left: -1vw;
    top: 25vh;
    right: auto;
    bottom: auto;
    z-index: 11;
    width: 45vw;
}
#section2 figure {
    width: 20vw;
    overflow: hidden;

   
}
#section2 .aboutimg1 {
    position: absolute;
    left: -3vw;
    top: 13vh;
    z-index: 15;
    transform: rotate(-20deg);
}
#section2 .aboutimg2 {
    position: absolute;
    left: 15vw;
    top: 32vh;
    z-index: 12;
    transform: rotate(20deg);
}





















/* 미디어 쿼리 */
/* 어바웃 이미지 및 페인트 이미지 */
@media (max-width: 920px){
    #section2 .aboutimg1 {
        top: 7vh;
    }
    #section2 .aboutimg2 {
        left: 15vw;
        top: 17vh;
    }
    #section2 .sec2 {
        left: -7vw;
        top: 5vh;
    }
    #section2 .sec3 {
        left: -10vw;
        top: 16vh;
}
@media (max-width: 500px){
    #section2 h3 {
        font-size: 13vw;
    }

    #section2 h3 strong {
        line-height: 3.3vw;;
        letter-spacing: 0.10em;
    }
    #section2 .sec2{
        top: 8vh;
    }
    #section2 .sec3 {
        display: none;
    }
    #section2 .aboutimg2 {
        left: 15vw;
        top: 12vh;
    }
    #section2 .aboutimg1 {
        left: -3vw;
        top: 7vh;
    }
}



/* main 미디어 쿼리 */
@media (max-width: 850px){
    .paint1 .sTitle {
        padding: 46vh 0 10vw 15vw;
        position: relative;
        display: inline-block;
    }
}

@media (max-width: 520px){
    .paint1 .sTitle {
        padding: 32vh 0 10vw 15vw;
    }
   
}


@media (max-width: 430px){
    .paint1 .sTitle {
        padding: 30vh 0 10vw  12vw;
    }
    .paint1 .sImg h3 {
        font-size: 18vw;
        position: absolute;
        top: 41vw;
        right: -13vw;
    }
    .paint1 .pntbg {
        position: absolute;
        top: -10vw;
        right: 23vw;
        width: 25vw;
    }
    .paint1 .sImg .figure1 {
        position: absolute;
        left: 33vw;
        top: 32vw;
    }
    .paint1 .sImg .figure2 {
        position: absolute;
        right: 18vw;
        top: 54vw;
    }
    .paint1 .sImg .figure3 {
        position: absolute;
        left: 35vw;
        top: 83vw;
    }
    #about {
        margin-top: -25vw;
    }
}


