@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/main.png);
    background-color: #eaeaea;
}
/* layout */
#contents {}
#section1 {height: 2500px; width: 100%; overflow: hidden;}
#section2 {width: 100%; height: 100%; }
#section3 {height: 8800px; background: rgb(34, 37, 66);}
#section4 {width: 100%; height: 10000px; overflow: hidden;}
#section5 {}
#section6 {}


/* container */
.container {width: 1400px; margin: 0 auto;}

/* scroll */
.scroll {
    position: fixed; left: 20px; bottom: 20px;
    width: 40px; height: 40px; 
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
}

/* header */
#header {
    position: relative;
}
#header h1 {
    position: absolute;
    left: 3vw; top: 3vw;
    width: 100px;
}
   
#header #nav {
    position: absolute;
    right: 3vw; top: 3vw;
}
#header #nav li {
    text-align: right;
}


#header #nav li a {
    margin-top: 1.1vw;
    font-family: 'Poppins', sans-serif;
    color: #222534;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
}


/* paint1 */
.paint1 .pntbg {
    position: absolute; 
    top: -10vw; right: 12vw;
    width: 30vw;
} 

.paint1 .sTitle {
    padding: 60vh 0 10vw 15vw;
    position: relative;
    display: inline-block;
}

.paint1 .sTitle strong{
    display: block;
    font-family: "Poppins", sans-serif;
    color: #222534;
    font-size: 2.2vw;
    line-height: 3.2vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
}
.paint1 .sTitle strong:last-child {
    font-weight: 200;
    position: relative;
}
.paint1 .sTitle strong:last-child::after {
    content: '';
    width: 5vw; height: 1px;
    background: #222534;
    position: absolute;
    bottom: -1.5vw; left: 0vw;
}


.paint1 .sImg h3{
    font-size: 28vw;
    font-family: 'Montserrat', sans-serif;
    color: #222542;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(90deg);
    position: absolute;
    top: 53vw; right: -50vw;
    z-index: 100;
}


.paint1 .sImg figure {
    /* max-width: 100%; */
    width: 25vw;
    position: absolute;
}
.paint1 .sImg .figure1 {left: 40vw; top: 22vw; z-index: 110; transform: rotate(-30deg);}
.paint1 .sImg .figure2 {right: 7vw; top: 50vw; z-index: 90; transform: rotate(30deg);}
.paint1 .sImg .figure3 {left: 40vw; top: 75vw; z-index: 90; transform: rotate(-30deg);}


/* about */
#about {
    height: 50vw; width: 100%;
    position: relative;
    margin-top: 30vw;
}
/* section2 */
#section2 h3 {
    height: 40vw;
    width: 50vw;
    font-size: 18vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 37, 66);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 8vh; right: 0vw;
    overflow: hidden;
}
#section2 h3 strong {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.3vw;
    letter-spacing: 0.05em;
    color: #222542;
    display: block;
}
#section2 h3 strong a {
    position: absolute;
    top: 0.4vw; left: 9vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 3vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222542;
}
#section2 h3 strong:last-child {
    position: relative;
    font-weight: 200;
}
#section2 h3 strong:last-child:after {
    content: '';
    width: 7vw;
    height: 0.3vh;
    background-color: #222542;
    position: absolute;
    top: 1.9vw;
    left: 0vw;
    display: flex;
    align-items: center;
}

#section2 .sec2 {
    position: absolute;
    left: -1vw;
    top: 20vh;
    right: auto;
    bottom: auto;
    z-index: 14;
    width: 45vw;
    opacity: 0.85;
}
#section2 .sec3 {
    position: absolute;
    left: -1vw;
    top: 25vh;
    right: auto;
    bottom: auto;
    z-index: 11;
    width: 45vw;
}
#section2 figure {
    width: 20vw;
    overflow: hidden;
   
}
#section2 .aboutimg1 {
    position: absolute;
    left: -3vw;
    top: 13vh;
    z-index: 15;
    transform: rotate(-20deg);
}
#section2 .aboutimg2 {
    position: absolute;
    left: 15vw;
    top: 32vh;
    z-index: 12;
    transform: rotate(20deg);
}

/* .section3-content */
.section3-content {
    margin-top: 10vh;
    overflow: hidden;
    position: relative;
}
.section3-content .work-wrap {
    width: 100%;
    height: 67vw;
}
.section3-content .work {
    width: 50vw;
    z-index: 10;
    position: absolute;
    top: 1vw;
    right: -8vw;
}
.section3-content .work h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 380px;
    line-height: 463px;
    letter-spacing: -0.03em;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(90deg);
}
.section3-content .work-pnt {
    width: 400px;
    position: absolute;
    top: -12vw;
    right: 3vw;
}
.section3-content .work-pnt img {
    transform: rotate(90deg);
}
.section3-content .work-title-wrap {
}
.section3-content .work-titl {
    position: absolute;
    top: 43%;
    left: 11%;
    text-transform: uppercase;
}
.section3-content .work-titl .em {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #fff;
}
.section3-content .work-titl ul:first-child {
    padding-top: 1vw;
    position: relative;
    font-weight: 200;

}
.section3-content .work-titl ul:first-child::after {
    content: '';
    width: 1.8vw;
    height: 0.3vh;
    position: absolute;
    top: 0; left: 0;
    background: #1AAB8A;
}

.section3-content .work-titl li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #fff;
}


.sec4 {padding: 30vh 0 0 0;}

/* site-wrap */
.site-wrap {}
.site {margin-bottom: 25vh;}
.site .site-view {display: flex; position: relative;}
.site .site-view .sv-left {width: 50%;}
.site .site-view .sv-left figure {}
.site .site-view .sv-right {
    width: 50%; padding: 6vw 5vw 4vw 4vw;
    box-sizing: border-box;
}
.site .site-view .sv-side {
    width: 28vw;
    position: absolute; bottom: -5vw; left: 42vw;
}
.site .site-view .sv-side1{
    width: 23vw;
    position: absolute;
    bottom: -7vw;
    left: 30vw;
}
.side-wrap {
    width: 25vw;
    position: absolute;
    top: 9.8vw;
    left: 17vw;
    transform: rotate(-90deg);
}
.side-wrap :first-child {
    position: relative;
}
.side-wrap :first-child::after {
    content: '';
    position: absolute;
    top: 0.3vw;
    left: -1vw;
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #1AAB8A;
}
.side-wrap p {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.side-wrap1 {
    width: 25vw;
    position: absolute;
    top: 5.5vw;
    left: 17vw;
    transform: rotate(-90deg);
}
.side-wrap1 :first-child {
    position: relative;
}
.side-wrap1 :first-child::after {
    content: '';
    position: absolute;
    top: 0.3vw;
    left: -1vw;
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #1AAB8A;
}
.side-wrap1 p {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.site .site-coding {margin-top: 20vh;}
.site .site-coding .sc-wrap {display: flex; justify-content: space-between;}
.site .site-coding .sc-wrap .sc-left {width: 25%;}
.site .site-coding .sc-wrap .sc-right {width: 70%;}

.site .site-h3 {
    color: #fff; font-size: 4vw; 
    text-align: right;
    font-family: "Poppins", sans-serif; 
    text-transform: uppercase;
    font-weight: 800;
}
.site .site-h4 {
    color: #fff; font-size: 2.5vw; 
    line-height: 1;
    font-family: "Poppins", sans-serif; 
    text-transform: uppercase;
    font-weight: 800;
}
.site .site-desc {
    color: #fff; 
    font-family: 'S-CoreDream-2ExtraLight'; 
    font-size: 1.2vw;
    position: relative;
    padding-top: 3vw;
}
.site .site-desc::before {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 100px; height: 1px;
    background: #1AAB8A;
}
.site .site-desc2 {
    color: #fff; 
    font-family: 'S-CoreDream-2ExtraLight'; 
    font-size: 1.1vw;
    position: relative;
    padding-top: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
    word-break: keep-all;
}
.site .site-desc2::before {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 100px; height: 1px;
    background: #1AAB8A;
}

/* site-btn */
.site .site-btn {
    padding-top: 2vw;
}
.site .site-btn button{
    font-family: 'Poppins', sans-serif;
    background: #1AAB8A;
    border:none;
    position:relative;
    /* height:60px; */
    font-size: 20px;
    font-weight: 300;
    padding: 10px 40px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-transform: uppercase;
    margin-right:5px;
}
.site .site-btn button a {
    color:#fff;
}
.site .site-btn button:hover{
background : #222542;
color:#1AAB8A;
}
.site .site-btn button:hover a{
    color:#1AAB8A;
}
.site .site-btn button:before,button:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width:0;
background: #1AAB8A;
transition:400ms ease all;
}
.site .site-btn button:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}
.site .site-btn button:hover:before,button:hover:after{
width:100%;
transition:800ms ease all;
}


/* 마우스 오버 효과 */
/* .hover_all {
    display: inline-block;
} */
.hover button{
    font-size: 18px; 
    font-family: 'S-CoreDream-2ExtraLight'; 
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    background: #1AAB8A;
    border:none;
    width: 47.333%;
    overflow:hidden;
    color:#fff;
    margin-left:2%;
    outline:0;
    margin-top: 2%;
    float:left;
    height:70px;
    box-shadow:0px 0px 17px -5px #333;
    position:relative;
    transition: 1s;
}
/* .hover button span {
    opacity: 0.8;
} */
.hover.active button span {
    font-weight: 800;
    /* opacity: 1; */
}

.hover.active button {
    color: yellow;
    text-shadow: 0 0 .1em, 0 0 .3em; 
}
.hover button:hover {
    color: yellow;
    text-shadow: 0 0 .1em, 0 0 .3em; 
  }
.hover_all{
    width: 100%;
    margin:auto;
}
.hover button:before{
    content: attr(hover);
    position:absolute;
    top:100%;
    left:0;
    right:0;
    text-align:center;
    transition:300ms top
}
.hover.active button:before {
    content: attr(hover);
    position:absolute;
    top:100%;
    left:0;
    right:0;
    text-align:center;
    transition:300ms top
}
.hover.active button:before {
    top: 25px;
}
  .hover button:hover:before{
    top:25px;
}
.top{
    transition: 300ms top;
    position:relative;
    top:0;
}
.hover button:hover .top{
    position:relative;
    top:-50px;
    transition: 300ms top
}
.hover.active button .top{
    position:relative;
    top:-50px;
    transition: 300ms top
}
.left{
    transition: 300ms left;
    position:relative;
    left:0;
}
.hover.active button .left {
    position:relative;
    left:100%;
}
.hover button:hover .left{
    position:relative;
    left:100%;
}
  
.right{
    transition: 300ms right;
    position:relative;
    right:0;
}
.hover.active button .right {
    position:relative;
    right:100%;
}
.hover button:hover .right{
    position:relative;
    right:100%;
}

/* site:nth-child(even) */
.site:nth-child(even) .site-view {flex-direction: row-reverse;}
.site:nth-child(even) .site-view .sv-left h3 {text-align: left; color: #fff; font-size: 4vw; font-family: "Poppins", sans-serif; text-transform: uppercase; font-weight: 800;}
.site:nth-child(even) .site-view .sv-side {position: absolute; bottom: -6vw; left: 24vw;}
.site:nth-child(even) .site-desc::before {content: ''; position: absolute; right: 0; left: auto; top: 0; width: 100px; height: 1px; background: #1AAB8A;}
.site:nth-child(even) .site-view .sv-right {text-align: right;}
.site:nth-child(even) .site-btn button {margin-left: 5px; margin-right: 0%;}
.site:nth-child(even) .site-desc {font-size: 1.356vw;}
.site:nth-child(even) .sc-wrap {flex-direction: row-reverse;}
.site:nth-child(even) .site-desc2 {text-align: right;}
.site:nth-child(even) .site-desc2::before {position: absolute; right: 0; top: 0; left: auto;}
.site:nth-child(even) .site-btn2 {text-align: right;}


.sc-right .editor {
    position: relative;
    background: #35363A;
    border-radius: 5%;
}
.site .editor .editor-tab {
    height: 40px; background: #21252B; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    display: flex;
}
.site .editor .editor-tab .dot {padding: 14px 55px 14px 14px;}
.site .editor .editor-tab .dot span {
    display: block;
    background: #FFB83D; width: 12px; height: 12px; border-radius: 50%;
    position: relative;
}
.site .editor .editor-tab .dot span::before {
    content: '';
    background: #FF4A4A; width: 12px; height: 12px; border-radius: 50%;
    position: absolute; left: 20px;
}
.site .editor .editor-tab .dot span::after {
    content: ''; 
    background: #00C543; width: 12px; height: 12px; border-radius: 50%;
    position: absolute; left: 40px;
}
.site .editor .editor-tab .menu {overflow: hidden;}
.site .editor .editor-tab .menu li {float: left;}
.site .editor .editor-tab .menu li a {
    display: block; background: #21252B; color: #8E9093; padding: 11px 32px;
    font-family: "Poppins", sans-serif;
}
.site .editor .editor-tab .menu li.active a {background: #383E4A;  color: #fff;}
.site .editor .editor-tab .theme {
    color: #8E9093; margin-left: auto;
    padding: 11px 32px;
}
.site .editor .editor-code {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    height: 500px; 
    background: #282C34;
    overflow: auto;
}
.site .editor .numberswrap {
    position: absolute;
    top: 39px; left: 0;
    width: 100%; height: 500px;
    overflow: auto;
}


/* sec5 */
.sec5 {
    width: 12500px; height: 940px; background-color: rgb(234, 234, 234); overflow: hidden;
}
.sec5.show {
    position: fixed; left: 0; top: 0; z-index: 3000;
}
.sec5 > div {float: left; width: 2100px; height: 940px;}
/* .sec3 > div:nth-child(1) {background-color: #eaeaea;}
.sec3 > div:nth-child(2) {background: #222;}
.sec3 > div:nth-child(3) {background: #333;}
.sec3 > div:nth-child(4) {background: #444;}
.sec3 > div:nth-child(5) {background: #555;} */

.divbox1 {background-color: #eaeaea; background-image: url(../img/main.png); position: relative; }
.divbox2 {background-color: #eaeaea; background-image: url(../img/main.png); padding-left: 500px;}
.divbox3 {background-color: #eaeaea; background-image: url(../img/main.png);}
.divbox4 {background-color: #eaeaea; background-image: url(../img/main.png);}
.divbox5 {background-color: #eaeaea; background-image: url(../img/main.png);}

/* divbox1 */
.divbox1 .box1title {
    width: 50vw;
    position: absolute;
    top: 5vh;
    left: 20vw;
    z-index: 100;
}
.divbox1 .box1title h4 {
    color: #222542;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 380px;
    line-height: 463px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.divbox1 .boxbg {
    position: absolute;
    top: -40%; left: 25%;
    width: 400px;
}
.divbox1 .boxbg img {
    transform: rotate(-90deg);
}
.divbox1 .box1tit {
    text-transform: uppercase;
    position: absolute;
    bottom: 10%; right: 15%;
}
.divbox1 .box1tit li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #222542;
}
.divbox1 .box1tit .titem {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #222542;
}
/* //divbox1  */



/* divbox2 sp-left */
.divbox2 .script-view {display: flex; position: relative; height: 100%;}
.divbox2 .sp-left {width: 60%;  height: 100%;}
.divbox2 .spimg {
    padding: 14vh 0 0 0;
    width: 1250px; height: 700px;
}
.divbox2 .spimg iframe {
    width: 100%; height: 100%;
}
.sp-bt{
    padding-top: 10px;
}
.sp-bt a{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
    padding-bottom: 5px;
}
.sp-bt a::before {
    content: '';
    width: 100%; height: 2px;
    position: absolute;
    bottom: 0; left: 0;
    background: #222542;
}

/* divbox2 sp-right */
.divbox2 .sp-right {
    width: 40%; height: 100%; position: relative;}
.sp-right .sp-rightwrap {
    width: 400px;
    word-break: keep-all;
    padding: 62.5vh 0;
}
.sp-right li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.sp-right li:last-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.sp-right p {
    padding-top: 15px;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
}



/* divbox3 */
/* .divbox3 .script-view2 {position: relative; height: 100%; display: flex;}
.divbox3 .sp-left2 {width: 60%;  height: 100%;}
.divbox3 .spimg2 {
    padding: 4vh 0 0 0;
    width: 1150px; height: 600px;
}
.divbox3 .spimg2 iframe {
    width: 100%; height: 100%;
}
.sp-bt2{
    padding-top: 18vh;
    display: flex;
}
.sp-bt2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 3%;
}

.sp-bt2 a:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
} */

/* sp-right1 */
/* .divbox3 .sp-right2 {width: 40%; height: 100%; position: relative;}
.sp-right2 .sp-rightwrap2 {width: 400px; word-break: keep-all; padding: 27.5vh 0;}
.sp-right2 li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.sp-right2 li:last-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.sp-right2 p {
    padding-top: 15px;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
}
 */

/* divbox4 */
/* .divbox4 .script-view {display: flex; position: relative; height: 100%;}
.divbox4 .sp-left {width: 60%;  height: 100%;}
.divbox4 .spimg {
    padding: 14vh 0 0 0;
    width: 1150px; height: 600px;
}
.divbox4 .spimg iframe {
    width: 100%; height: 100%;
}
.sp-bt{
    padding-top: 3%;
    display: flex;
}
.sp-bt a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 3%;
}

.sp-bt a:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
} */

/* divbox5 */
/* .divbox5 .script-view2 {position: relative; height: 100%; display: flex;}
.divbox5 .sp-left2 {width: 60%;  height: 100%;}
.divbox5 .spimg2 {
    padding: 4vh 0 0 0;
    width: 1150px; height: 800px;
}
.divbox5 .spimg2 iframe {
    width: 100%; height: 100%;
}
.divbox5 .sp-bt2{
    padding-top: 1vh;
    display: flex;
}
.divbox5 .sp-bt2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 3%;
}

.divbox5 .sp-bt2 a:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
} */

/* sp-right1 */
/* .divbox5 .sp-right2 {width: 40%; height: 100%; position: relative;}
.divbox5 .sp-right2 .sp-rightwrap2 {width: 400px; word-break: keep-all; padding: 10.5vh 0;}
.divbox5 .sp-right2 li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.divbox5 .sp-right2 li:last-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
.divbox5 .sp-right2 p {
    padding-top: 15px;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
} */



/* 미디어 쿼리  */
@media (max-width:1400px){
    #section1 {height: 2200px;}
    #about {margin-top: 0;}
    .section3-content .work h2 {font-size: 280px;}
    .section3-content .work-pnt {width: 300px; position: absolute; top: -10vw; }
    .container {width: 100%;}
    .site .site-h4 {margin-left: 0.5vw;}
    .site:nth-child(even) .site-h4 {text-align: right; margin-right: 0.5vw;}
    .site-info {margin-left: 0.5vw;}
    .site:nth-child(even) .site-desc2 {margin-right: 0.5vw;}
    .row {padding: 0 3%;}

}
@media (max-width:1000px){
    .row {padding: 0 5%;}
    #section1 {height: 1650px;}
    .section3-content {margin-top: 20vh;}
    #section2 .sec2 {top: 11vh;}
    #section2 .sec3 {left: 3vw; top: 16vh;}
    #section2 .aboutimg1 {top: 10vh;}
    #section2 .aboutimg2 {top: 18vh;}
    .section3-content .work h2 {font-size: 180px;}
    .section3-content .work-pnt {top: -4vw; width: 200px;}
    .section3-content .work-titl .em {font-size: 20px;}
    .section3-content .work-titl li {font-size: 20px;}
    .sec4 {padding: 20vh 0;}
    .site .site-btn button {padding: 10px 37px; font-size: 16px;}
    .site .site-desc {font-size: 1.3vw;}
    .site .site-desc2 {font-size: 1.2vw;}
    .hover{width:100%;}
    .site .site-coding .sc-wrap .sc-right {width: 60%;}
    .site .site-coding .sc-wrap .sc-left {width: 39%;}
}
@media (max-width:800px){
    .row {padding: 0 20px;}
    .paint1 .sTitle {padding: 48vh 0 10vw 15vw;}
    #section1 {height: 1000px;}
    .paint1 .sImg h3 {font-size: 18vw; right: -20vw; top: 41vw;}
    .paint1 .pntbg {right: 16vw; width: 25vw;}
    .paint1 .sImg .figure1 {left: 39vw;}
    .paint1 .sImg .figure2 {right: 9vw;}
    .paint1 .sImg .figure3 {left: 39vw;}
    .section3-content .work h2 {font-size: 140px;}
    .section3-content .work {top: -4vw;}
    .section3-content .work-pnt {top: -2vw; width: 150px;}
    .section3-content .work-titl {top: 35%;}
    .section3-content .work-titl .em {font-size: 16px;}
    .section3-content .work-titl li {font-size: 16px;}
    .site .site-view {display: block;}
    .site .site-h3 {font-size: 50px;}
    .site .site-view .sv-left {width: 90%; padding: 0 5%;}
    .site .site-view .sv-right {width: 90%; padding: 5% 5%; box-sizing: unset;}
    .site .site-desc {font-size: 22px;}
    .site .site-coding .sc-wrap .sc-left {width: 100%;}
    .site .site-coding .sc-wrap {display: block;}
    .site .site-h4 {font-size: 50px; margin-left: auto;}
    .site .site-desc2 {font-size: 2.2vw;}
    .site .site-coding .sc-wrap .sc-right {width: 100%; margin-top: 35vh;}
    .site .site-coding {margin-top: 10vh;}
    .site .site-desc2 {font-size: 22px;}
    .site:nth-child(even) .site-view .sv-left h3 {font-size: 50px;}
    .site:nth-child(even) .site-desc {font-size: 22px;}
    .site:nth-child(even) .site-btn button {padding: 10px 30px; font-size: 22px;}
    .hover button {margin-right: 2%; margin-left: auto;}
    .site:nth-child(even) .site-coding .sc-wrap .sc-right {margin-top: 35vh;}


    .site .site-view .sv-side {display: none;}
    .site .site-view .sv-side1 {display: none;}

    .sec4 {padding: 10vh 0;}
    .site .site-btn button {padding: 10px 30px; font-size: 22px}
}

@media (max-width: 500px) {
    #section3 {height: 5800px;}
    #header h1 {top: 6vw; width: 70px;}
    #section1 {height: 500px;}
    .paint1 .sTitle {padding: 35vh 0 10vw 15vw;}
    #section2 h3 {height: 50vw;}
    #section2 h3 strong {font-size: 10px; line-height: 15px;}
    #section2 h3 strong a {font-size: 10px; top: 0.8vw;}
    #section2 .sec3 {display: none;}
    #section2 .aboutimg2 {top: 15vh;}
    .section3-content .work {top: -31vw}
    .section3-content .work-titl ul:first-child::after {width: 3.8vw;}
    .section3-content .work h2 {font-size:70px}
    .section3-content .work-titl .em {font-size: 12px; line-height: 15px;}
    .section3-content .work-titl li {font-size: 12px; line-height: 15px;}
    .section3-content .work-titl {top: 38%;}
    .section3-content .work-pnt {top: -9vw; width: 80px;}
    .sec4 {padding: 5vh 0;}
    .site .site-h3 {font-size: 35px;}
    .site .site-desc {font-size: 16px;}
    .site .site-btn button {font-size: 12px; height: 45px; padding: 10px 40px;}
    .site .site-h4 {font-size: 30px; margin-left: auto;}
    .site .site-desc2 {font-size: 14px;}
    .hover button {font-size: 12px; height: 45px;}
    .hover.active button:before { top: 15px;}
    .site .site-coding .sc-wrap .sc-right {margin-top: 20vh;}
    .site .site-btn {padding-top: 5vw;}
    .site .site-coding {margin-top: 5vh;}
    .site .editor .editor-tab .menu li a {padding: 11px 12px; font-size: 10px;}

    .site:nth-child(even) .site-desc {font-size: 16px;}
    .site:nth-child(even) .site-h4 {font-size: 30px; margin-left: auto;}
    .site:nth-child(even) .site-desc2 {font-size: 14px; word-break: keep-all;}
    .hover .buttonwrap {margin-right: 2%; margin-left: auto;}
    .hover button {margin-left: 2%; margin-right: auto;}
    .site_html {height: 3000px;}
    .site:nth-child(even) .site-coding .sc-wrap .sc-right {margin-top: 28vh;}
    .site {margin-bottom: 15vh;}
    .site .site-coding .sc-wrap .sc-rightwrap {margin-top: 30vh;}
    .site .editor .numberswrap {height: 350px;}
    .site .editor .editor-code {height: 350px;}

    .site:nth-child(even) .site-view .sv-left h3 {font-size: 35px;}
    .site:nth-child(even) .site-btn button {font-size: 12px; height: 45px; padding: 10px 40px;}
}

