@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/main.png);
    background-color: rgb(234, 234, 234);
}
/* layout */
#header {} 
#main {}
#section1 {width: 100%; padding-bottom: 10vw;  height: 145vw;}
#section2 {width: 100%; height: 100%; }
#section3 {width: 100%; height: 100%;  background: rgb(34, 37, 66);}
#section4 {}

/* scroll */
/* .scroll {
    position: fixed; left: 20px; bottom: 20px;
    width: 40px; height: 40px; 
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
} */

/* header */
#header {
    position: relative;
}
#header h1 {
    position: absolute;
    left: 3vw; top: 3vw;
    width: 100px;
}
   
#header #nav {
    position: absolute;
    right: 3vw; top: 3vw;
}
#header #nav li {
    text-align: right;
}


#header #nav li a {
    margin-top: 1.1vw;
    font-family: 'Poppins', sans-serif;
    color: #222534;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
}


/* paint1 */
.paint1 .pntbg {
    position: absolute; 
    top: -10vw; right: 12vw;
    width: 30vw;
} 

.paint1 .sTitle {
    padding: 60vh 0 10vw 15vw;
    position: relative;
    display: inline-block;
}

.paint1 .sTitle strong{
    display: block;
    font-family: "Poppins", sans-serif;
    color: #222534;
    font-size: 2.2vw;
    line-height: 3.2vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
}
.paint1 .sTitle strong:last-child {
    font-weight: 200;
    position: relative;
}
.paint1 .sTitle strong:last-child::after {
    content: '';
    width: 5vw; height: 1px;
    background: #222534;
    position: absolute;
    bottom: -1.5vw; left: 0vw;
}


.paint1 .sImg h3{
    font-size: 28vw;
    font-family: 'Montserrat', sans-serif;
    color: #222542;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(90deg);
    position: absolute;
    top: 53vw; right: -50vw;
    z-index: 100;
}


.paint1 .sImg figure {
    /* max-width: 100%; */
    width: 25vw;
    position: absolute;
}
.paint1 .sImg .figure1 {left: 40vw; top: 22vw; z-index: 110; transform: rotate(-30deg);}
.paint1 .sImg .figure2 {right: 7vw; top: 50vw; z-index: 90; transform: rotate(30deg);}
.paint1 .sImg .figure3 {left: 40vw; top: 75vw; z-index: 90; transform: rotate(-30deg);}


/* about */
#about {
    height: 50vw; width: 100%;
    position: relative;
    margin-top: 30vw;
}
/* section2 */
#section2 h3 {
    height: 40vw;
    width: 50vw;
    font-size: 18vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 37, 66);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 8vh; right: 0vw;
    overflow: hidden;
}
#section2 h3 strong {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.3vw;
    letter-spacing: 0.05em;
    color: #222542;
    display: block;
}
#section2 h3 strong a {
    position: absolute;
    top: 0.4vw; left: 9vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 3vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222542;
}
#section2 h3 strong:last-child {
    position: relative;
    font-weight: 200;
}
#section2 h3 strong:last-child:after {
    content: '';
    width: 7vw;
    height: 0.3vh;
    background-color: #222542;
    position: absolute;
    top: 1.9vw;
    left: 0vw;
    display: flex;
    align-items: center;
}

#section2 .sec2 {
    position: absolute;
    left: -1vw;
    top: 20vh;
    right: auto;
    bottom: auto;
    z-index: 14;
    width: 45vw;
    opacity: 0.85;
}
#section2 .sec3 {
    position: absolute;
    left: -1vw;
    top: 25vh;
    right: auto;
    bottom: auto;
    z-index: 11;
    width: 45vw;
}
#section2 figure {
    width: 20vw;
    overflow: hidden;
   
}
#section2 .aboutimg1 {
    position: absolute;
    left: -3vw;
    top: 13vh;
    z-index: 15;
    transform: rotate(-20deg);
}
#section2 .aboutimg2 {
    position: absolute;
    left: 15vw;
    top: 32vh;
    z-index: 12;
    transform: rotate(20deg);
}


/* contents */
#contents {
    margin-top: 15vw;
    overflow: hidden;
    position: relative;
}
#section3 .work-wrap {
    width: 100%;
    height: 70vw;
}
#section3 .work {
    width: 50%;
    z-index: 10;
    position: absolute;
    top: 0.5%; right: -5%;
}
#section3 .work h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 380px;
    line-height: 463px;
    letter-spacing: -0.03em;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(90deg);
}
#section3 .work-pnt {
    width: 500px;
    position: absolute;
    top: -3%; right: -10%;
}
#section3 .work-pnt img {
    transform: rotate(90deg);
}
#section3 .work-title-wrap {
}
#section3 .work-titl {
    position: absolute;
    top: 5%;
    left: 15%;
    text-transform: uppercase;
}
#section3 .work-titl .em {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #fff;
}
#section3 .work-titl ul:first-child {
    padding-top: 1vw;
    position: relative;
    font-weight: 200;

}
#section3 .work-titl ul:first-child::after {
    content: '';
    width: 1.8vw;
    height: 0.3vh;
    position: absolute;
    top: 0; left: 0;
    background: #58941b;
}

#section3 .work-titl li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #fff;
}

#section3 .sec2 {
    width: 100vw;
    height: 470vw;
    /* overflow: hidden; */
}
#section3 .site-wrap {
    position: relative;
    
}
#section3 .site {
    width: 100%;
    height: 120vw;


}
#section3 .code-intro-wrap {
    width: 100%; height: 65vw;
}

#section3 .code-intro-wrap h3 {
    position: absolute;
    top: 5%; left: 0;
    width: 49%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    box-sizing: border-box;
    padding-top: 1%;
    /* margin-left: 22%; */
}

#section3 .code-intro {
    width: 49%;
    position: absolute;
    left: 0; top: 10%;
}
#section3 .code-intro .left {
    width: 100%;
}
#section3 .code-intro .left .move-img {
    width: 100%;
}
#section3 .code-intro .right {
    width: 90%;
    position: absolute;
    top: 2.5%; right: -95%;
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: 200;
    font-size: 24px;
    color: #fff;
}
#section3 .code-intro .right p:first-child {
    position: relative;
}
#section3 .code-intro .right p:first-child:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #58941b;
    position: absolute;
    top: -1vw; left: 0;
}
#section3 .code-intro .right .btn {
    margin-top: 5%;

}
#section3 .code-intro .right .btn a{
    color: #fff;
    text-transform: uppercase;
    border: #58941b 10px solid;
    background: #58941b;
    margin-right: 8%;
    font-family: 'Poppins', sans-serif;

}
#section3 .code-intro .right .btn strong {
    font-size: 20px;
    font-weight: 400;
}
#section3 .side {
    position: absolute;
    left: 43vw;
    top: 26.4vw;
    right: auto;
    bottom: auto;
    width: 28vw;
}
#section3 .side .side-wrap {
    width: 25vw;
    position: absolute;
    top: 10vw;
    left: 17vw;
    transform: rotate(-90deg);
}
#section3 .side .side-wrap :first-child {
    position: relative;
}
#section3 .side .side-wrap :first-child::after {
    content: '';
    position: absolute;
    top: 0.3vw;
    left: -1vw;
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#section3 .side p {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#section3 .code-view {
    position: relative;
    width: 100vw;
    height: 50vw;
    display: inline-block;
}
#section3 .container {
    width: 100%; height: 100%;
    display: flex;
}
#section3 .cv-left {
    width: 50%;
}
#section3 .cv-left ul {
    position: absolute;
    top: 48%; left: 20%;
}
#section3 .cv-left li {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 0.375em 0.75em 0.375em 0.375em;

}
#section3 .cv-left .label{
    position: relative;
}
#section3 .cv-left .label::before{
    flex-shrink: 0;
    content: "";
    position: absolute;
    top: 0.8vw;
    left: -3vw;
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}
#section3 .cv-right {
    position: relative;
    width: 50%;
}

/* chromebox */
#section3 .cv-right .chromebox .chromewrap {
    position: absolute;
    top: 25%; left: -6%;
    width: 46.563vw;
    height: 34.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
#section3 .cv-right .menu-bar {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #202124;
}
#section3 .cv-right .menu-bar .circle-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #202124;
    border-radius: 5px 0px 0px 0px;
}
#section3 .cv-right .circle-bar .red {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
#section3 .cv-right .circle-bar .yellow {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
#section3 .cv-right .circle-bar .green {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}

#section3 .cv-right .menu-bar .title-bar {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #202124;
}
#section3 .cv-right .language-html {
    color: #fff;
}
#section3 .cv-right .title-bar .htmlTap {
    font-size: 0.8vw;
    width: 12.5vw;
    
}
#section3 .cv-right .title-bar .htmlTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .cv-right .title-bar .htmlTap a img {
  width: 1vw; height: 1vw;
  position: absolute;
  top: 0.5vw; left: 1.5vw;
  right: auto; bottom: auto;
}
#section3 .cv-right .title-bar .cssTap {
    width: 12.5vw;
}
#section3 .cv-right .title-bar .cssTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .cv-right .title-bar .scriptTap {
    width: 12.5vw;
}
#section3 .cv-right .title-bar .scriptTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .cv-right .title-bar .tap a.active {
    background: #35363A;
}
#section3 .cv-right .title-bar > div .code-content {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 46.094vw;
    height: 28vw;
    background: #272822; 
    overflow: auto;
}

#section3 .cv-right .menu-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
#section3 .cv-right .menu-content .option-bar {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
#section3 .cv-right .arrow-box {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
#section3 .cv-right .option-bar .arrowL {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
#section3 .cv-right .option-bar .arrowL svg {}
#section3 .cv-right .option-bar .arrowR {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
#section3 .cv-right .option-bar .arrowR svg {}
#section3 .cv-right .option-bar .redo {
    width: 1vw;
    height: 0.7vw
}
#section3 .cv-right .option-bar .redo svg {}

#section3 .cv-right .option-bar .address-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
#section3 .cv-right .option-bar .address-box .address {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #202124;
    border-radius: 30px;
}
#section3 .cv-right .option-bar .address-box .address .address-target {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
#section3 .cv-right .option-bar .address-box .address .address-target.show {
    display: block;
}
#section3 .cv-right .option-bar .address-box .address span {
    position: absolute;
    top: 0.8vw;
    left: 0.8vw;
    bottom: auto;
    right: auto;
}
#section3 .cv-right .option-bar .address-box .address span svg {
    width: 0.8vw;
    height: 0.8vw;
}
#section3 .cv-right .option-bar .dot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
#section3 .cv-right .option-bar .dot-box .dot {
    width: 0.4vw;
    height: 0.4vw;
}
/* chromebox */




/* code-intro-wrap2 */
#section3 .code-intro-wrap2 {
    position: relative;
    width: 100%; height: 65vw;
}
#section3 .code-intro-wrap2 h3 {
    position: absolute;
    top: 1%; left: 0;
    width: 49%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    box-sizing: border-box;
    padding-top: 1%;
    /* margin-left: 22%; */
}
#section3 .code-intro-wrap2 .code-intro {
    width: 49%;
    position: absolute;
    left: 0; top: 10%;
}
#section3 .code-intro-wrap2 .code-intro .left {
    width: 100%;
}
#section3 .code-intro-wrap2 .code-intro .left .move-img {
    width: 100%;
}
#section3 .code-intro-wrap2 .code-intro .right {
    width: 90%;
    position: absolute;
    top: 2.5%; right: -95%;
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: 200;
    font-size: 24px;
    color: #fff;
}
#section3 .code-intro-wrap2 .code-intro .right p:first-child {
    position: relative;
}
#section3 .code-intro-wrap2 .code-intro .right p:first-child:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #58941b;
    position: absolute;
    top: -1vw; left: 0;
}
#section3 .code-intro-wrap2 .code-intro .right .btn {
    margin-top: 5%;

}
#section3 .code-intro-wrap2 .code-intro .right .btn a{
    color: #fff;
    text-transform: uppercase;
    border: #58941b 10px solid;
    background: #58941b;
    margin-right: 8%;
    font-family: 'Poppins', sans-serif;


}
#section3 .code-intro-wrap2 .code-intro .right .btn strong {
    font-size: 20px;
    font-weight: 400;
}
#section3 .code-intro-wrap2 .side {
    position: absolute;
    left: 43vw;
    top: 26.4vw;
    right: auto;
    bottom: auto;
    width: 28vw;
}
#section3 .code-intro-wrap2 .side .side-wrap {
    width: 25vw;
    position: absolute;
    top: 5.5vw;
    left: 17vw;
    transform: rotate(-90deg);
}
#section3 .code-intro-wrap2 .side .side-wrap :first-child {
    position: relative;
}
#section3 .code-intro-wrap2 .side .side-wrap :first-child::after {
    content: '';
    position: absolute;
    top: 0.3vw;
    left: -1vw;
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#section3 .code-intro-wrap2 .side p {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* code-view1 */
#section3 .code-view1 {
    position: relative;
    width: 100vw;
    height: 40vw;
    display: inline-block;
}
#section3 .code-view1 .container {
    width: 100%; height: 100%;
    display: flex;
}
#section3 .code-view1 .cv-left {
    width: 50%;
}
#section3 .code-view1 .cv-left ul {
    position: absolute;
    top: 25%; left: 20%;
}
#section3 .code-view1 .cv-left li {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 0.375em 0.75em 0.375em 0.375em;

}
#section3 .code-view1 .cv-left .label{
    position: relative;
}
#section3 .code-view1 .cv-left .label::before{
    flex-shrink: 0;
    content: "";
    position: absolute;
    top: 0.8vw;
    left: -3vw;
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}
#section3 .code-view1 .cv-right {
    position: relative;
    width: 50%;
}

/* chromebox */
#section3 .code-view1 .cv-right .chromebox .chromewrap {
    position: absolute;
    top: 4%; left: -6%;
    width: 46.563vw;
    height: 34.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
#section3 .code-view1 .cv-right .menu-bar {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #202124;
}
#section3 .code-view1 .cv-right .menu-bar .circle-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #202124;
    border-radius: 5px 0px 0px 0px;
}
#section3 .code-view1 .cv-right .circle-bar .red {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
#section3 .code-view1 .cv-right .circle-bar .yellow {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
#section3 .code-view1 .cv-right .circle-bar .green {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}

#section3 .code-view1 .cv-right .menu-bar .title-bar {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #202124;
}
#section3 .code-view1 .cv-right .language-html {
    color: #fff;
}
#section3 .code-view1 .cv-right .title-bar .htmlTap {
    font-size: 0.8vw;
    width: 12.5vw;
    
}
#section3 .code-view1 .cv-right .title-bar .htmlTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .code-view1 .cv-right .title-bar .htmlTap a img {
  width: 1vw; height: 1vw;
  position: absolute;
  top: 0.5vw; left: 1.5vw;
  right: auto; bottom: auto;
}
#section3 .code-view1 .cv-right .title-bar .cssTap {
    width: 12.5vw;
}
#section3 .code-view1 .cv-right .title-bar .cssTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .code-view1 .cv-right .title-bar .scriptTap {
    width: 12.5vw;
}
#section3 .code-view1 .cv-right .title-bar .scriptTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
#section3 .code-view1 .cv-right .title-bar .tap a.active {
    background: #35363A;
}
#section3 .code-view1 .cv-right .title-bar > div .code-content {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 46.094vw;
    height: 28vw;
    background: #272822; 
    overflow: auto;
}

#section3 .code-view1 .cv-right .menu-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
#section3 .code-view1 .cv-right .menu-content .option-bar {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
#section3 .code-view1 .cv-right .arrow-box {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
#section3 .code-view1 .cv-right .option-bar .arrowL {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
#section3 .code-view1 .cv-right .option-bar .arrowL svg {}
#section3 .code-view1 .cv-right .option-bar .arrowR {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
#section3 .code-view1 .cv-right .option-bar .arrowR svg {}
#section3 .code-view1 .cv-right .option-bar .redo {
    width: 1vw;
    height: 0.7vw
}
#section3 .code-view1 .cv-right .option-bar .redo svg {}

#section3 .code-view1 .cv-right .option-bar .address-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
#section3 .code-view1 .cv-right .option-bar .address-box .address {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #202124;
    border-radius: 30px;
}
#section3 .code-view1 .cv-right .option-bar .address-box .address .address-target {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
#section3 .code-view1 .cv-right .option-bar .address-box .address .address-target.show {
    display: block;
}
#section3 .code-view1 .cv-right .option-bar .address-box .address span {
    position: absolute;
    top: 0.8vw;
    left: 0.8vw;
    bottom: auto;
    right: auto;
}
#section3 .code-view1 .cv-right .option-bar .address-box .address span svg {
    width: 0.8vw;
    height: 0.8vw;
}
#section3 .code-view1 .cv-right .option-bar .dot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
#section3 .code-view1 .cv-right .option-bar .dot-box .dot {
    width: 0.4vw;
    height: 0.4vw;
}



/* right-site1 */
#section3 .right-site1 {
    position: relative;
    width: 100%;
    height: 120vw;
}
#section3 .right-site1 .right-site-wrap {
    width: 100%;
    height: 65vw;
}
#section3 .right-site1 .code-intro-wrap1 {

}
#section3 .right-site1 .code-intro-wrap1 h3 {
    position: absolute;
    top: 5%; right: 0;
    width: 49%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    box-sizing: border-box;
    padding-top: 1%;
    /* margin-left: 22%; */
}
#section3 .right-site1 .code-intro1 {
    width: 49%;
    position: absolute;
    right: 0;
    top: 10%;
}
#section3 .right-site1 .code-intro1 .right {
    width: 100%;
}
#section3 .right-site1 .code-intro1 .right .move-img {
    width: 100%;
}
#section3 .right-site1 .code-intro1 .left {
    text-align: right;
    width: 90%;
    position: absolute;
    top: 3%;
    left: -95%;
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: 200;
    font-size: 24px;
    color: #fff;
}
#section3 .right-site1 .code-intro1 .left p:first-child {
    position: relative;
}
#section3 .right-site1 .code-intro1 .left p:first-child:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #58941b;
    position: absolute;
    top: -1vw; right: 0;
}
#section3 .right-site1 .code-intro1 .left .btn {
    margin-top: 5%;

}
#section3 .right-site1 .code-intro1 .left .btn a{
    color: #fff;
    text-transform: uppercase;
    border: #58941b 10px solid;
    background: #58941b;
    margin-left: 8%;
    font-family: 'Poppins', sans-serif;


}
#section3 .right-site1 .code-intro1 .left .btn strong {
    font-size: 20px;
    font-weight: 400;
}
#section3 .right-site1 .code-intro1 .side {
    position: absolute;
    left: -25vw;
    top: 26.4vw;
    width: 28vw;
}
#section3 .right-site1 .code-intro1 .side .side-wrap {
    width: 25vw;
    position: absolute;
    top: 10vw;
    left: -14vw;
    transform: rotate(-90deg);
}
#section3 .right-site1 .code-intro1 .side .side-wrap :first-child {
    position: relative;
}
#section3 .right-site1 .code-intro1 .side .side-wrap :first-child::after {
    content: '';
    position: absolute;
    top: 0.3vw;
    left: -1vw;
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#section3 .right-site1 .code-intro1 .side p {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


#section3 .code-view-rigth1 {
    position: relative;
    width: 100vw;
    height: 50vw;
    display: inline-block;
}
#section3 .code-view-rigth1 .cv-right-res {
    width: 50%;
}
#section3 .code-view-rigth1 .cv-left-res {
    width: 50%;
}
#section3 .code-view-rigth1 .cv-left-res ul {
    position: absolute;
    top: 34%;
    right: 19%;
}
#section3 .code-view-rigth1 .cv-left-res li {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 0.375em 0.75em 0.375em 0.375em;
}
#section3 .code-view-rigth1 .labe2 {
    position: relative;
}
#section3 .code-view-rigth1 .labe2::after {
    flex-shrink: 0;
    content: "";
    position: absolute;
    top: 0.6vw;
    left: 14.5vw;
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    margin-right: 1.5vw;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}
#section3 .cv-right-res {
    position: relative;
    width: 50%;
}




/* section4-wrap */
#section4-wrap {
    width: 100vw;
    height: 51vw;
    background-color: rgb(234, 234, 234);
}
#section4 {
    position: relative;
}
#section4 .script {
    position: absolute;
    top: 5vw; left: 12%;
    z-index: 100;
}
#section4 .script h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 380px;
    line-height: 463px;
    letter-spacing: -0.03em;
    color: #222542;
    text-transform: uppercase;
    
}
#section4 .scriptimg {
    transform: rotate(-90deg);
    position: absolute;
    left: 18vw;
    top: -15vw;
    width: 20vw;
}
#section4 .script-title {
    height:12vw; width: 10vw;
    display: inline-block;
    position: absolute;
    top: 37vw; right: 7vw;
}
#section4 .script-title em {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}
#section4 .script-title h2 strong{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}






/* 미디어 쿼리 */

/* 1600px */
@media (max-width: 1600px){
    #section3 .work-titl {
        position: absolute;
        top: 6%;
        left: 8%;
    }
}

/* 1480px */
@media (max-width: 1480px){
    #section3 .code-intro-wrap {
        margin-top: 15vw;
    }
    #section3 .work {
        top: 0.5%;
    }
    #section3 .work h2{
        font-size: 300px;
    }
    #section3 .work-pnt {
        width: 384px;
        top: -2%;
    }
    #section3 .work-titl {
        top: 5%;
        left: 8%;
    }
}

/* 1300px */
@media (max-width: 1300px){
    #section3 .work-titl {
        top: 6%;
    }
}

/* 1200px  */
@media (max-width: 1200px){
    #section3 .work {
        top: -0.5%;
    }
    #section3 .work h2{
        font-size: 225px;
    }
    #section3 .work-pnt {
        width: 304px;
        top: -3%;
    }
    #section3 .work-titl {
        top: 3.5%;
    }
    #section3 .code-intro-wrap h3 {
        top: 3%;
    }
    #section3 .code-intro-wrap1 h3  {
        top: 3%;
    }
    #section3 .right-site1 .code-intro-wrap1 h3 {
        top: 3%;
    }
    #section3 .cv-left ul {
        top: 40%;
        left: 15%;
    }
    #section3 .code-view-rigth .cv-left-res ul {
        top: 25%;
        right: 13%;
    }
    #section3 .code-view-rigth .labe2::after  {
        left: 21.5vw;
    }
    #section3 .cv-left .label::before {
        left: -5vw;
    }
    #section3 .code-view1 .cv-left .label::before {
        left: -5vw;
    }
    #section3 .code-view1 .cv-left ul {
        top: 11%;
    }
}


/* 1000px */
@media (max-width: 1000px){
    #section3 .work {
        top: -0.5%;
    }
    #section3 .work h2{
        font-size: 150px;
    }
    #section3 .work-pnt {
        width: 216px;
        top: -2.4%;
    }
    #section3 .work-titl {
        top: 3.5%;
        left: 16%;
    }
    #section3 .work-titl .em {
        font-size: 15px;
        line-height: 22px;
    }
    #section3 .work-titl li {
        font-size: 15px;
        line-height: 22px;
    }
    #section3 .code-intro-wrap {
        margin-top: 0;
    }
    #section3 .code-intro-wrap h3 {
        font-size: 32px;
    }
    #section3 .code-intro .right{
        font-size: 16px;
    }
    #section3 .code-intro .right .btn a  {
        border: #58941b 5px solid;

    }
    #section3 .code-intro .right .btn strong {
        font-size: 14px;
        font-weight: 300;
    }
    #section3 .cv-left li {
        font-size: 19px;
        line-height: 34px;
    }
    #section3 .cv-left .label::before {
        top: 1vw;
    }
    #section3 .code-intro-wrap1 h3  {
        font-size: 32px;
    }
    #section3 .code-intro1 .left  {
        font-size: 16px;
    }
    #section3 .code-intro1 .left .btn a  {
        border: #58941b 5px solid;
    }
    #section3 .code-intro1 .left .btn strong {
        font-size: 14px;
        font-weight: 300;
    }
    #section3 .code-view-rigth .cv-left-res li {
        font-size: 19px;
        line-height: 34px;
    }
    #section3 .code-view-rigth .labe2::after {
        top: 1vw;
    }
    #section3 .code-intro-wrap2 h3 {
        font-size: 32px;
    }
    #section3 .code-intro-wrap2 .code-intro .right {
        font-size: 16px;
    }
    #section3 .code-intro-wrap2 .code-intro .right .btn a {
        border: #58941b 5px solid;
    }
    #section3 .code-intro-wrap2 .code-intro .right .btn strong {
        font-size: 14px;
        font-weight: 300;
    }
    #section3 .code-view1 .cv-left li  {
        font-size: 19px;
        line-height: 34px;
    }
    #section3 .code-view1 .cv-left ul  {
        top: 9%;
    }
    #section3 .code-view1 .cv-left .label::before {
        top: 1.5vw;
    }
    #section3 .right-site1 .code-intro-wrap1 h3 {
        font-size: 32px;
    }
    #section3 .right-site1 .code-intro1 .left {
        font-size: 16px;
    }
    #section3 .right-site1 .code-intro1 .left .btn a {
        border: #58941b 5px solid;
    }
    #section3 .right-site1 .code-intro1 .left .btn strong {
        font-size: 14px;
        font-weight: 300;
    }
    #section3 .code-view-rigth .cv-left-res ul {
        right: 17%;
    }
    #section3 .code-view-rigth .labe2::after {
        left: 17.5vw;
    }
}

/* 920px */
@media (max-width: 920px){
    #section2 .aboutimg1 {
        top: 7vh;
    }
    #section2 .aboutimg2 {
        left: 15vw;
        top: 17vh;
    }
    #section2 .sec2 {
        left: -7vw;
        top: 5vh;
    }
    #section2 .sec3 {
        left: -10vw;
        top: 16vh;
    }
}


/* 800px  */
@media (max-width: 800px){
    #section3 .work {
        top: -0.5%;
    }
    #section3 .work h2{
        font-size: 100px;
    }
    #section3 .work-pnt {
        width: 148px;
        top: -1.4%;
    }
    #section3 .work-titl {
        top: 3.5%;
        left: 20%;
    }
    #section3 .work-titl .em {
        font-size: 15px;
        line-height: 22px;
    }
    #section3 .work-titl li {
        font-size: 15px;
        line-height: 22px;
    }
    .paint1 .sTitle {
        padding: 46vh 0 10vw 15vw;
        position: relative;
        display: inline-block;
    }
}

/* 600px */
@media (max-width: 600px) {
    #section3 .work {
        top: -1.5%;
        right: -10%;
    }
    #section3 .work h2{
        font-size: 100px;
    }
    #section3 .work-pnt {
        top: -2.4%;
        right: -24%;
    }
    #section3 .work-titl {
        top: 3.5%;
        left: 20%;
    }
    #section3 .work-titl .em {
        font-size: 15px;
        line-height: 22px;
    }
    #section3 .work-titl li {
        font-size: 15px;
        line-height: 22px;
    }
    #section3 .right-site {
        height: 75vw;
    }
    #section3 .code-intro-wrap h3 {
        font-size: 25px;
        top: 1%;
    }
    #section3 .code-intro .right{
        font-size: 12px;
    }
    #section3 .code-intro .right .btn a  {
        border: #58941b 3px solid;

    }
    #section3 .code-intro .right .btn strong {
        font-size: 12px;
        font-weight: 200;
    }
    #section3 .cv-left ul {
        top: 38%;
    }
    #section3 .cv-left li {
        font-size: 16px;
        line-height: 28px;
    }
    #section3 .code-view {
        display: none;
    }
    #section3 .code-intro-wrap1 h3 {
        font-size: 25px;
        top: -4%;
    }
    #section3 .code-intro1 .left {
        font-size: 12px;
    }
    #section3 .code-intro1 .left .btn a {
        border: #58941b 3px solid;
    }
    #section3 .code-intro1 .left .btn strong {
        font-size: 12px;
        font-weight: 200;
    }
    #section3 .code-view-rigth {
        display: none;
    }
    #section3 .code-intro-wrap2 h3 {
        font-size: 25px;
        top: -7%;
    }
    #section3 .code-intro-wrap2 .code-intro .right {
        font-size: 12px;
    }
    #section3 .code-intro-wrap2 .code-intro .right .btn a {
        border: #58941b 3px solid;
    }
    #section3 .code-intro-wrap2 .code-intro .right .btn strong {
        font-size: 12px;
        font-weight: 200;
    }
    #section3 .code-view1 {
        display: none;
    }
    #section3 .right-site1 .code-intro-wrap1 h3 {
        font-size: 25px;
        top: -3%;
    }
    #section3 .right-site1 .code-intro1 .left {
        font-size: 12px;
    }
    #section3 .right-site1 .code-intro1 .left .btn a {
        border: #58941b 3px solid;
    }
    #section3 .right-site1 .code-intro1 .left .btn strong {
        font-size: 12px;
        font-weight: 200;
    }
    #section3 .right-site1 {
        height: 80vw;
    }
    #section3 .sec2 {
        height: 300vw;
    }
}


/* 500px  */
@media (max-width: 500px){
    #contents {
        margin-top: 25vw;
    }
    #section3 .work {
        top: -4.5%;
        right: -10%;
    }
    #section3 .work h2{
        font-size: 80px;
    }
    #section3 .work-pnt {
        width: 108px;
        top: -2.4%;
    }
    #section3 .work-titl {
        top: 3.5%;
        left: 14%;
    }
    #section3 .work-titl .em {
        font-size: 13px;
        line-height: 20px;
    }
    #section3 .work-titl li {
        font-size: 13px;
        line-height: 20px;
    }
    #section2 h3 {
        font-size: 13vw;
    }

    #section2 h3 strong {
        line-height: 3.3vw;;
        letter-spacing: 0.10em;
    }
    #section2 .sec2{
        top: 8vh;
    }
    #section2 .sec3 {
        display: none;
    }
    #section2 .aboutimg2 {
        left: 15vw;
        top: 12vh;
    }
    #section2 .aboutimg1 {
        left: -3vw;
        top: 7vh;
    }
    .paint1 .sTitle {
        padding: 32vh 0 10vw 15vw;
    }
}



/* 420px  */
@media (max-width: 420px){
    .paint1 .sTitle {
        padding: 30vh 0 10vw  12vw;
    }
    .paint1 .sImg h3 {
        font-size: 18vw;
        position: absolute;
        top: 41vw;
        right: -13vw;
    }
    .paint1 .pntbg {
        position: absolute;
        top: -10vw;
        right: 23vw;
        width: 25vw;
    }
    .paint1 .sImg .figure1 {
        position: absolute;
        left: 33vw;
        top: 32vw;
    }
    .paint1 .sImg .figure2 {
        position: absolute;
        right: 18vw;
        top: 54vw;
    }
    .paint1 .sImg .figure3 {
        position: absolute;
        left: 35vw;
        top: 83vw;
    }
    #about {
        margin-top: -25vw;
    }
    #section3 .sec2{
        margin-top: 15vw;
    }
    #section3 .code-intro-wrap h3 {
        font-size: 17px;
        top: -1%;
    }
    #section3 .code-intro .right {
        font-size: 10px;
        width: 93%;
    }
    #section3 .side {
        display: none;
    }
    #section3 .code-intro-wrap1 h3 {
        font-size: 17px;
        top: -8%;
    }
    #section3 .code-intro1 .left {
        font-size: 10px;
    }
    #section3 .code-intro-wrap2 h3 {
        font-size: 17px;
        top: -11%;
    }
    #section3 .code-intro-wrap2 .code-intro .right {
        font-size: 10px;
        width: 93%; 
    }
    #section3 .right-site1 .code-intro-wrap1 h3 {
        font-size: 17px;
        top: -7%; 
    }
    #section3 .right-site1 .code-intro1 .left {
        font-size: 10px;
    }
}

















