@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/main.png);
    background-color: rgb(234, 234, 234);
}
/* layout */
#header {} 
#main {}
#section1 {width: 100%; padding-bottom: 10vw; overflow: hidden; height: 145vw;}
#section2 {width: 100%; height: 100%; overflow: hidden;}
#section3 {width: 100%; height: 100%; overflow: hidden;}
#section4 {}

/* scroll */
.scroll {
    position: fixed; left: 20px; bottom: 20px;
    width: 40px; height: 40px; 
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    z-index: 10000;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
}
#header h1 {
    position: absolute;
    left: 3vw; top: 3vw;
    width: 100px;
}
   
#header #nav {
    position: absolute;
    right: 3vw; top: 3vw;
}
#header #nav li {
    text-align: right;
}


#header #nav li a {
    margin-top: 1.1vw;
    font-family: 'Poppins', sans-serif;
    color: #222534;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
}


/* paint1 */
.paint1 .pntbg {
    position: absolute; 
    top: -10vw; right: 12vw;
    width: 30vw;
} 

.paint1 .sTitle {
    padding: 60vh 0 10vw 15vw;
    position: relative;
    display: inline-block;
}

.paint1 .sTitle strong{
    display: block;
    font-family: "Poppins", sans-serif;
    color: #222534;
    font-size: 2.2vw;
    line-height: 3.2vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
}
.paint1 .sTitle strong:last-child {
    font-weight: 200;
    position: relative;
}
.paint1 .sTitle strong:last-child::after {
    content: '';
    width: 5vw; height: 1px;
    background: #222534;
    position: absolute;
    bottom: -1.5vw; left: 0vw;
}


.paint1 .sImg h3{
    font-size: 28vw;
    font-family: 'Montserrat', sans-serif;
    color: #222542;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(90deg);
    position: absolute;
    top: 53vw; right: -50vw;
    z-index: 100;
}
.sImg h3{
    animation: fadeInDown 3s ;   
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(90deg);
    }
}
.sImg .figure1 {
    animation: fadeIndown 3s ;   
}
@keyframes fadeIndown {
    0% {
        opacity: 0;
        transform: translateY(-10px) rotate(-30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(-30deg);
    }
}
.sImg .figure2 {
    animation: fadeIndOwn 3s ;   
}
@keyframes fadeIndOwn {
    0% {
        opacity: 0;
        transform: translateY(-10px) rotate(30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(30deg);
    }
}
.sImg .figure3 {
    animation: fadeIndoWn 3s ;   
}
@keyframes fadeIndoWn {
    0% {
        opacity: 0;
        transform: translateY(-10px) rotate(-30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(-30deg);
    }
}




.paint1 .sImg figure {
    /* max-width: 100%; */
    width: 25vw;
    position: absolute;
}
.paint1 .sImg .figure1 {left: 40vw; top: 22vw; z-index: 110; transform: rotate(-30deg);}
.paint1 .sImg .figure2 {right: 7vw; top: 50vw; z-index: 90; transform: rotate(30deg);}
.paint1 .sImg .figure3 {left: 40vw; top: 75vw; z-index: 90; transform: rotate(-30deg);}


/* about */
#about {
    position: relative;
    overflow: hidden;
    padding-top: 10vw;
    width: 100%;
    height: 60vw;
}

/* section2 */
#section2 h3 {
    width: 50vw;
    font-size: 18vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 37, 66);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 8vh; right: 0vw;
}
#section2 h3 strong {
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.3vw;
    letter-spacing: 0.05em;
    color: #222542;
    display: block;
}
#section2 h3 a {
    position: absolute;
    top: 0.4vw; left: 9vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 3vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222542;
}
#section2 h3 strong:last-child {
    position: relative;
    font-weight: 200;
}
#section2 h3 strong:last-child:after {
    content: '';
    width: 7vw;
    height: 0.3vh;
    background-color: #222542;
    position: absolute;
    top: 1.9vw;
    left: 0vw;
    display: flex;
    align-items: center;
}

#section2 .sec2 {
    position: absolute;
    left: -1vw;
    top: 20vh;
    right: auto;
    bottom: auto;
    z-index: 14;
    width: 45vw;
    opacity: 0.85;
}
#section2 .sec3 {
    position: absolute;
    left: -1vw;
    top: 25vh;
    right: auto;
    bottom: auto;
    z-index: 11;
    width: 45vw;
}
#section2 figure {
    width: 20vw;
    overflow: hidden;
    position: absolute;
   
}
#section2 .aboutimg1 {
    left: -3vw;
    top: 13vh;
    right: auto;
    bottom: auto;
    z-index: 15;
    transform: rotate(-20deg);
}
#section2 .aboutimg2 {
    left: 15vw;
    top: 32vh;
    right: auto;
    bottom: auto;
    z-index: 12;
    transform: rotate(20deg);
}


/* work */
#work {
    position: relative;
    overflow: hidden;
    height: 680vw;
    background-color:rgb(34, 37, 66);
}
#section3 .workbg {
    width: 100%;
    height: 80vw;
}
#section3 .workbg .work {
    width: 50vw;
    position: absolute;
    top: 12vw; right: -8vw;
    z-index: 100;
}
#section3 .workbg .work h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    font-size: 22vw;
    line-height: 6vw;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    transform: rotate(90deg);

}
#section3 figure {
    position: absolute;
    top: -7vw; right: -5vw;
    z-index: 90;
}
#section3 .work-pnt {
    width: 20vw;
    transform: rotate(90deg);
}
#section3 .workbg .work-title {
    display: inline-block;
}
#section3 .workbg .work-title h2  {
    margin-top: 32vw;
    margin-left: 12vw;
}
#section3 .workbg .work-title h2 em {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    font-size: 1.8vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.09em;
    display: block;
}
#section3 .workbg .work-title h2 em:first-child {
    position: relative;
}
#section3 .workbg .work-title h2 em:first-child:after {
    content: '';
    width: 2vw;
    height: 0.3vh;
    background: #58941b;
    position: absolute;
    top: -1vw; left: 0;
}
#section3 .workbg .work-title h2 .em {
    padding-bottom: 1vw;
}
#section3 .workbg .work-title h2 strong {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.09em;
    line-height: 2.7vw;
    display: block;
}


/* work-site */
#section3 #work-site {
    /* display: inline-block; */
    position: relative;
    width: 100vw;
    height: 60vw;
}
#section3 #work-site .work-site01 {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 58vw;
}

#section3 #work-site .work-site02 {
    position: absolute;
    left: 53vw;
    top: 31.4vw;
    right: auto;
    bottom: auto;
    width: 28vw;
}
#section3 #work-site .work-wiew {
    width: 25vw;
    max-width: 100%;
    position: absolute;
    left: 71vw;
    top: 42vw;
    right: auto;
    bottom: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    transform: rotate(-90deg);
}
#section3 #work-site .work-wiew .work-wiew-line1 {
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#section3 #work-site .work-wiew .work-wiew-text a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}



#section3 #work-site .work-wk a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* display: block; */
}
#section3 #work-site .work-wk a:last-child{
    position: relative;
} 
#section3 #work-site .work-wk a:last-child::after {
    position: absolute;
    bottom: 0.2vw; left: -1.3vw;
    content: '';
    width: 0.1vw;
    height: 2vh;
    margin-right: 1vw;
    background: #58941B;
}

#section3 #work-site .work-site02 figcaption {
    position: absolute; bottom: 6.5vw; right: 0vw;
    transform: rotate(-90deg);
}
#section3 #work-site .work-site02 figcaption a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}
#section3 #work-site .work-site02 figcaption a:last-child{
    position: relative;
}
#section3 #work-site .work-site02 figcaption a:last-child::after {
    position: absolute;
    bottom: 0; left: -1.3vw;
    content: '';
    width: 0.1vw;
    height: 2vh;
    margin-right: 1vw;
    background: #58941B;
}

/* work-site-block */
#section3 #work-site-block {
    position: relative;
    width: 100vw;
    height: 30vw;
}
#section3 #work-site-block .work-block-text1 h1 {
    position: absolute;
    top: -2vw; left: 15vw;
    right: auto; bottom: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 10vw;
    letter-spacing: 0.02em;
}
#section3 #work-site-block .work-site-text1 {
    position: absolute;
    left: 29vw;
    top: 10vw;
}
#section3 #work-site-block .work-site-text-line {
    width: 3.8vw;
    height: 2px;
    background: #58941B;
    margin-bottom: 2.5vw;
    transform: rotate(-180deg);
}
#section3 #work-site-block .work-figma a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: -0.6vw; left: 5vw;
}
#section3 #work-site-block .work-site-text2 h2 strong{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.2vw;
    letter-spacing: 0.05em;
    display: block;
}

/* work-site-button */
#section3 #work-site-button {
    position: relative;
    width: 100vw;
    height: 60vw;
}
#section3 #work-site-button .work-site-container {
    position: absolute;
    top: 0vw;
    left: -26vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#section3 #work-site-button .form {
    width: 20vw;
    height: 22vw;
}
#section3 #work-site-button form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
#section3 #work-site-button .label1 {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 1.3vw;
}
#section3 #work-site-button .label1 input {
    position: absolute;
    left: -9999px;
}
#section3#work-site-button .label1 input:checked + .span1:before {
    box-shadow: inset 0 0 0 0.1000em #fff;
}
#section3 #work-site-button .label1 .span1 {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
#section3 #work-site-button .label1 .span1:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    margin-right: 1.5vw;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}


/* chromebox */
.chromebox {
    width: 100vw;
    height: 60vw;
}
.chromebox .chromewrap {
    position: absolute;
    top: 0vw; left: 46vw;
    right: auto; bottom: auto;
    width: 46.563vw;
    height: 34.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
.menu-bar {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #202124;
}
.menu-bar .circle-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #202124;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar .red {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar .yellow {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar .green {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}

.menu-bar .title-bar {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #202124;
}
.language-html {
    color: #fff;
}
.title-bar .htmlTap {
    font-size: 0.8vw;
    width: 12.5vw;
    
}
.title-bar .htmlTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .htmlTap a img {
  width: 1vw; height: 1vw;
  position: absolute;
  top: 0.5vw; left: 1.5vw;
  right: auto; bottom: auto;
}
.title-bar .cssTap {
    width: 12.5vw;
}
.title-bar .cssTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .scriptTap {
    width: 12.5vw;
}
.title-bar .scriptTap a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .tap a.active {
    background: #35363A;
}
.title-bar > div .code-content {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 56.094vw; height: 33vw;
    background: #272822; 
    overflow: auto;
}

.menu-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content .option-bar {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
.arrow-box {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
.option-bar .arrowL {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar .arrowL svg {}
.option-bar .arrowR {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar .arrowR svg {}
.option-bar .redo {
    width: 1vw;
    height: 0.7vw
}
.option-bar .redo svg {}

.option-bar .address-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
.option-bar .address-box .address {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #202124;
    border-radius: 30px;
}
.option-bar .address-box .address .address-target {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
.option-bar .address-box .address .address-target.show {
    display: block;
}
.option-bar .address-box .address span {
    position: absolute;
    top: 0.8vw;
    left: 0.8vw;
    bottom: auto;
    right: auto;
}
.option-bar .address-box .address span svg {
    width: 0.8vw;
    height: 0.8vw;
}
.option-bar .dot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
.option-bar .dot-box .dot {
    width: 0.4vw;
    height: 0.4vw;
}
/* chromebox */

#work-site1 {
    position: relative;
    width: 100vw;
    height: 60vw;
}
#work-site1 .work-site03 {
    position: absolute;
    right: 0; top: 0vw;
    width: 63vw;
}
#work-site1 .work-site04 {
    position: absolute;
    left: 14vw;
    top: 30vw;
    width: 28vw;
}
#work-site1 .work-respon {
    position: absolute;
    left: 0vw;
    bottom: 17.7vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    transform: rotate(-90deg);
    width: 25vw;
}
#work-site1 .work-respon-line1 {
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#work-site1 .work-respon-text a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* work-site-right */
#work-site-right {
    position: relative;
    width: 100vw;
    height: 30vw;
}
#work-site-right .work-right-text h1{
    position: absolute;
    top: -2vw;
    left: 55vw;
    right: auto;
    bottom: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 10vw;
    letter-spacing: 0.02em;
}
#work-site-right .work-right-text1 {
    position: absolute;
    left: 40.8vw;
    top: 6vw;
}
#work-site-right .work-right-text-line {
    width: 3.8vw;
    height: 2px;
    background: #58941B;
    margin-top: 4vw;
    transform: rotate(-180deg);
    margin-left: 25.5vw;
}
#work-site-right .work-figma a{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 3.4vw;
    left: 17.5vw;
}
#work-site-right .work-right-text2 h2 {
    margin-top: 4vw;
}
#work-site-right .work-right-text2 h2 strong {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.2vw;
    letter-spacing: 0.05em;
    text-align: right;
    display: block;
}

/* #work-right-button */
#work-right-button {
    position: relative;
    width: 100vw;
    height: 60vw;
}
#work-right-button .work-right-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 10vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#work-right-button .form1 {
    position: absolute;
    right: -3vw;
    bottom: 14vw;
    width: 30vw;
    height: 30vw;
}
#work-right-button form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#work-right-button .label2 {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 1.3vw;
}
#work-right-button .label2 input {
    position: absolute;
    left: -9999px;
}
#work-right-button .label2 input:checked + .span2::before {
    box-shadow: inset 0 0 0 0.1000em #fff;
}
#work-right-button .label2 .span2 {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
#work-right-button .span2 {
    padding-right: 10vw;
} 
#work-right-button .label2 .span2::before {
    position: absolute;
    left: 14vw;
    top: auto;
    bottom: auto;
    right: auto;
    display: flex;
    flex-shrink: 0;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    margin-right: 1.5vw;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}


/* chromebox1 */
.chromebox1 {
    width: 100vw;
    height: 60vw;
  }
  .chromebox1 .chromewrap1 {
    position: absolute;
    bottom: 15vw; left: 5vw;
    right: auto; top: auto;
    width: 56.563vw;
    height: 39.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
.menu-bar1 {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #555657;
}
.menu-bar1 .circle-bar1 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #555657;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar1 .red1 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar1 .yellow1 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar1 .green1 {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}
.menu-bar1 .title-bar1 {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #555657;
}
.title-bar1 .htmlTap1 {
    font-size: 0.8vw;
    width: 12.5vw;
}
.title-bar1 .htmlTap1 a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #35363A;
    border-radius: 10px 10px 0 0;
}
.title-bar1 .htmlTap1 a img {
    width: 1vw; height: 1vw;
    position: absolute;
    top: 0.5vw; left: 2vw;
    bottom: auto; right: auto;
}
.title-bar1 .tap1 a.active {
    background: #35363A;
}
.title-bar1 > div .code-content1 {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 56.094vw; height: 33vw;
    background: #272822; 
    overflow: auto;
}

.menu-content1 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content1 .option-bar1 {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
.arrow-box1 {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
.option-bar1 .arrowL1 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar1 .arrowL svg {}
.option-bar1 .arrowR1 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar1 .arrowR1 svg {}
.option-bar1 .redo1 {
    width: 1vw;
    height: 0.7vw
}
.option-bar .redo svg {}

.option-bar1 .address-box1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
.option-bar1 .address-box1 .address1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #857F7F;
    border-radius: 30px;
}
.option-bar1 .address-box1 .address1 .address-target1 {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
.option-bar1 .address-box1 .address1 .address-target1.show1 {
    display: block;
}
.option-bar1 .address-box1 .address1 span {
    position: absolute; 
    left: 0.7vw;
    top: 0.8vw;
    bottom: auto; right: auto;
    width: 2.5vw;
    height: 1vw;
}
.option-bar1 .address-box1 .address1 span svg {
    width: 0.8vw;
    height: 0.8vw;
}
.option-bar1 .dot-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
.option-bar1 .dot-box1 .dot1 {
    width: 0.4vw;
    height: 0.4vw;
}

/* work-nong */
#work-nong {
    position: relative;
    widows: 100vw;
    height: 60vw;
}
#work-nong .work-nong01 {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 58vw;
}
#work-nong .work-nong02 {
    position: absolute;
    left: 53vw;
    top: 31.4vw;
    right: auto;
    bottom: auto;
    width: 28vw;
} 
#work-nong .work-nong-view {
    width: 25vw;
    max-width: 100%;
    position: absolute;
    left: 70vw;
    top: 37.8vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    transform: rotate(-90deg);
}
#work-nong .work-nong-line1 {
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#work-nong .work-nong-text a{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#work-nong-block {
    position: relative;
    width: 100vw;
    height: 30vw;
}
#work-nong-block .work-nong-tet h1{
    position: absolute;
    top: -2vw;
    left: 15vw;
    right: auto;
    bottom: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 10vw;
    letter-spacing: 0.02em;
}
#work-nong-block .work-nong-text1 {
    position: absolute;
    left: 29vw;
    top: 10vw;
}
#work-nong-block .work-nong-text-line {
    width: 3.8vw;
    height: 2px;
    background: #58941B;
    margin-bottom: 2.5vw;
    transform: rotate(-180deg);
}
#work-nong-block .work-figma a{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: -0.6vw;
    left: 5vw;
}
#work-nong-block .work-nong-text2 h2 strong{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.2vw;
    letter-spacing: 0.05em;
    display: block;
}

/* work-site-button */
#work-nong-button {
    position: relative;
    width: 100vw;
    height: 60vw;
}
#work-nong-button .work-nong-container {
    position: absolute;
    top: -6vw;
    left: -26vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#work-nong-button .form3 {
    width: 20vw;
    height: 22vw;
}
#work-nong-button form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
#work-nong-button .label3 {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 1.3vw;
}
#work-nong-button .label3 input {
    position: absolute;
    left: -9999px;
}
#work-nong-button .label3 input:checked + .span3:before {
    box-shadow: inset 0 0 0 0.1000em #fff;
}
#work-nong-button .label3 .span3 {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
#work-nong-button .label3 .span3:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    margin-right: 1.5vw;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}

/* chromebox2 */
.chromebox2 {
    width: 100vw;
    height: 60vw;
}
.chromebox2 .chromewrap2 {
    position: absolute;
    top: 5vw;
    left: 39vw;
    right: auto;
    bottom: auto;
    width: 56.563vw;
    height: 39.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
.menu-bar2 {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #555657;
}
.menu-bar2 .circle-bar2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #555657;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar2 .red2 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar2 .yellow2 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar2 .green2 {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}
.menu-bar2 .title-bar2 {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #555657;
}
.title-bar2 .htmlTap2 {
    font-size: 0.8vw;
    width: 12.5vw;
}
.title-bar2 .htmlTap2 a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #35363A;
    border-radius: 10px 10px 0 0;
}
.title-bar2 .htmlTap2 a img {
    width: 1vw; height: 1vw;
    position: absolute;
    top: 0.5vw; left: 2vw;
    bottom: auto; right: auto;
}
.title-bar2 .tap2 a.active {
    background: #35363A;
}
.title-bar2 > div .code-content2 {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 56.094vw; height: 33vw;
    background: #272822; 
    overflow: auto;
}

.menu-content2 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content2 .option-bar2 {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
.arrow-box2 {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
.option-bar2 .arrowL2 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar2 .arrowL svg {}
.option-bar2 .arrowR2 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar2 .arrowR2 svg {}
.option-bar2 .redo2 {
    width: 1vw;
    height: 0.7vw
}
.option-bar .redo svg {}

.option-bar2 .address-box2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
.option-bar2 .address-box2 .address2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #857F7F;
    border-radius: 30px;
}
.option-bar2 .address-box2 .address2 .address-target2 {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
.option-bar2 .address-box2 .address2 .address-target2.show2 {
    display: block;
}
.option-bar2 .address-box2 .address2 span {
    position: absolute; 
    left: 0.7vw;
    top: 0.8vw;
    bottom: auto; right: auto;
    width: 2.5vw;
    height: 1vw;
}
.option-bar2 .address-box2 .address2 span svg {
    width: 0.8vw;
    height: 0.8vw;
}
.option-bar2 .dot-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
.option-bar2 .dot-box2 .dot2 {
    width: 0.4vw;
    height: 0.4vw;
}

/* work-seog */
#work-seog {
    position: relative;
    width: 100vw;
    height: 50vw;
}
#work-seog .work-seog01 {
    position: absolute;
    right: 0;
    top: 0vw;
    width: 58vw;
}
#work-seog .work-seog02 {
    position: absolute;
    left: 20vw;
    top: 20vw;
    width: 28vw;
}
#work-seog .work-seog-block {
    position: absolute;
    left: 5.5vw;
    bottom: 17.3vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    transform: rotate(-90deg);
    width: 25vw;
}
#work-seog .work-seog-line1 {
    width: 0.1vw;
    height: 1vw;
    margin-right: 1vw;
    background: #58941B;
}
#work-seog .work-seog-text a {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* work-seog-right */
#work-seog-right {
    position: relative;
    width: 100vw;
    height: 30vw;
}
#work-seog-right .work-seog-tet h1 {
    position: absolute;
    top: -2vw;
    left: 55vw;
    right: auto;
    bottom: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 10vw;
    letter-spacing: 0.02em;
}
#work-seog-right .work-seog-text1 {
    position: absolute;
    left: 40.8vw;
    top: 6vw;
}
#work-seog-right .work-seog-text-line {
    width: 3.8vw;
    height: 2px;
    background: #58941B;
    margin-top: 4vw;
    transform: rotate(-180deg);
    margin-left: 25.5vw;
}
#work-seog-right .seog-figma a{
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 3.4vw;
    left: 17.5vw;
}
#work-seog-right .work-seog-text2 h2 {
    margin-top: 4vw;
}
#work-seog-right .work-seog-text2 h2 strong {
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 2.2vw;
    letter-spacing: 0.05em;
    text-align: right;
    display: block;
}
/* work-seog-button */

/* #work-seog-button */
#work-seog-button {
    position: relative;
    width: 100vw;
    height: 60vw;
}
#work-seog-button .work-seog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 10vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#work-seog-button .form4 {
    position: absolute;
    right: -3vw;
    bottom: 14vw;
    width: 30vw;
    height: 30vw;
}
#work-seog-button form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#work-seog-button .label4 {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    color: #fff;
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 1.3vw;
}
#work-seog-button .label4 input {
    position: absolute;
    left: -9999px;
}
#work-seog-button .label4 input:checked + .span4::before {
    box-shadow: inset 0 0 0 0.1000em #fff;
}
#work-seog-button .label4 .span4 {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
#work-seog-button .span4 {
    padding-right: 10vw;
} 
#work-seog-button .label4 .span4::before {
    position: absolute;
    left: 14vw;
    top: auto;
    bottom: auto;
    right: auto;
    display: flex;
    flex-shrink: 0;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    margin-right: 1.5vw;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #fff;
}

/* chromebox3 */
.chromebox3 {
    width: 100vw;
    height: 60vw;
  }
.chromebox3 .chromewrap3 {
    position: absolute;
    bottom: 15vw; left: 5vw;
    right: auto; top: auto;
    width: 56.563vw;
    height: 39.5vw;
    /* height: 547px; */
    background: #35363A;
    border-radius: 1vw;
}
.menu-bar3 {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 0.6vw;
    display: flex;
    width: 100%;
    height: 2.5vw;
    /* height: 42px; */
    border-radius: 5px 5px 0px 0px;
    background: #555657;
}
.menu-bar3 .circle-bar3 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 13px; */
    padding: 0 0.677vw;
    width: 10vw;
    height: 100%;
    background: #555657;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar3 .red3 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar3 .yellow3 {
    margin-right: 0.4vw;
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar3 .green3 {
    width: 0.6vw; height: 0.6vw;
    border-radius: 50%;
    background: #63C654;
}
.menu-bar3 .title-bar3 {
    position: absolute;
    top: 0.5vw; left: 4vw;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #555657;
}
.title-bar3 .htmlTap3 {
    font-size: 0.8vw;
    width: 12.5vw;
}
.title-bar3 .htmlTap3 a {
    display: flex;
    justify-content: center;
    line-height: 2vw;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #35363A;
    border-radius: 10px 10px 0 0;
}
.title-bar3 .htmlTap3 a img {
    width: 1vw; height: 1vw;
    position: absolute;
    top: 0.5vw; left: 2vw;
    bottom: auto; right: auto;
}
.title-bar3 .tap3 a.active {
    background: #35363A;
}
.title-bar3 > div .code-content3 {
    position: absolute; 
    top: 5vw; left: -3.8vw;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 56.094vw; height: 33vw;
    background: #272822; 
    overflow: auto;
}

.menu-content3 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content3 .option-bar3 {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 2vw;
}
.arrow-box3 {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 6vw;
    height: 2vw;
    /* background: #35363A; */
}
.option-bar3 .arrowL3 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar3 .arrowL svg {}
.option-bar3 .arrowR3 {
    width: 1vw;
    height: 0.7vw;
    margin-right: 0.8vw;
}
.option-bar3 .arrowR3 svg {}
.option-bar3 .redo3 {
    width: 1vw;
    height: 0.7vw
}
.option-bar .redo svg {}

.option-bar3 .address-box3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 55vw;
    height: 2.5vw;
    background: #35363A;
    color: #fff;
}
.option-bar3 .address-box3 .address3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5vw;
    background: #857F7F;
    border-radius: 30px;
}
.option-bar3 .address-box3 .address3 .address-target3 {
    position: absolute;
    top: 0.60vw; left: 2vw;
    display: none;
    font-size: 0.8vw;
}
.option-bar3 .address-box3 .address3 .address-target3.show3 {
    display: block;
}
.option-bar3 .address-box3 .address3 span {
    position: absolute; 
    left: 0.7vw;
    top: 0.8vw;
    bottom: auto; right: auto;
    width: 2.5vw;
    height: 1vw;
}
.option-bar3 .address-box3 .address3 span svg {
    width: 0.8vw;
    height: 0.8vw;
}
.option-bar3 .dot-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 3vw;
    height: 1.5vw;
    background: #35363A;
}
.option-bar3 .dot-box3 .dot3 {
    width: 0.4vw;
    height: 0.4vw;
}

/* script */
#script { 
    position: fixed;
    left: 0vw; top: 0vw;
    width: 100%; 
    z-index: -1000;
    height: 51vw;
    background-image: url(../img/main.png);
    background-color: rgb(234, 234, 234);
}
#script #section4 {
    position: relative;
}
#script #section4 .script {
    position: absolute;
    top: 13vw;
    left: 10vw;
}
#script #section4 .script h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20vw;
    line-height: 2.2vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #222542;
}
#section4 .scriptimg {
    transform: rotate(-90deg);
    position: absolute;
    left: 10vw;
    top: -20vw;
    width: 20vw;
    z-index: -100;
}
#section4 .script-title {
    display: inline-block;
    position: absolute;
    top: 35vw; right: 10vw;
}
#section4 .script-title em {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.6vw;
    line-height: 2.2vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;

}
#section4 .script-title h2 strong{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.6vw;
    line-height: 2.2vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #222542;
}

#section4 .script-title1 {
    position: absolute;
    top: 0; left: 0;
}

#section4 .script-title1 figure {
    position: absolute;
    top: -100vw; left: 100vw;
    width: 50vw;
}


