.animation_title .animation_div1 {
    position: absolute;
    left: 26vw;
    top: 4vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    width: 46vw;
    height: 36vw;
    z-index: 5;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
.bar123 {
  width: 5px; height: 400px;
  background: #fff;
  position: absolute;
  left: 0; top: 0; right: 0; bottom:0;
  margin: auto;
  animation: bar123 2s ease 100;
}
@keyframes bar123 {
  0% {transform: rotate(0deg); height: 0;}
  25% {transform: rotate(0deg); height: 400px;}
  75% {transform: rotate(180deg); height: 400px;}
  100% {transform: rotate(180deg); height: 0;}
}





.animation_title .animation_div2 {
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    display: flex; justify-content: center; align-items: center;
    position: absolute;
    left: 4vw;
    top: -2vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    width: 30vw;
    height: 26vw;
    margin-top: 6px;
}

.animation_title .animation_div2 .row {
    display: flex;
  }
  .animation_title .animation_div2  .circle {
    width: 10px; height: 10px; background: #fff;
    border-radius: 50%;
    margin: 5px 10px;
    transform-origin: top center;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {transform: scale(1.1) rotate(0)}
    50% {transform: scale(0.2) rotate(180deg)}
    1000% {transform: scale(1.1) rotate(360deg)}
  }
  .animation_title .animation_div2  .row:nth-child(1) .circle {animation-delay: 100ms}
  .animation_title .animation_div2  .row:nth-child(2) .circle {animation-delay: 200ms}
  .animation_title .animation_div2  .row:nth-child(3) .circle {animation-delay: 300ms}
  .animation_title .animation_div2 .row:nth-child(4) .circle {animation-delay: 400ms}
  .animation_title .animation_div2 .row:nth-child(5) .circle {animation-delay: 500ms}
  .animation_title .animation_div2 .row:nth-child(6) .circle {animation-delay: 600ms}
  .animation_title .animation_div2 .row:nth-child(7) .circle {animation-delay: 700ms}
  .animation_title .animation_div2 .row:nth-child(8) .circle {animation-delay: 800ms}

.animation_title .animation_div3 {
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    position: absolute;
    left: auto;
    top: 12vw;
    right: 6vw;
    bottom: auto;
    overflow: hidden;
    width: 25vw;
    height: 20vw;
}
.animation_title .animation_div3 .loading {
    width: 20px; height: 150px;
  /*   background: #fff; */
    position: absolute;
    left:50%; top: 50%; transform: translate(-50%, -50%);
    animation: loading 1s ease 100;
  }
  .animation_title .animation_div3 .loading .circle1 {
    display: block; width: 20px; height: 20px;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    border-radius: 50%;
  }
  .animation_title .animation_div3 .loading .circle2 {
    display: block; width: 20px; height: 20px;
    background-image: linear-gradient(-225deg, #7742B2 0%, #F180FF 52%, #FD8BD9 100%);
    border-radius: 50%; 
    margin-top: 110px;
  }
  @keyframes loading {
    0% {transform:translate(-150%, -150%) rotate(0deg)}
    100% {transform:translate(-50%, -50%) rotate(360deg)}
  }
  












.animation_title .animation_div4 {
    background: #3F51B5;
    position: absolute;
    left: 52vw;
    top: 36vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    z-index: 6;
}
  .box1 {
    width: 49px; height: 49px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
  }
  .box1::before {
    content:'';
    width: 49px; height:5px;
    background: #000;
    opacity: 0.1;
    position: absolute; top: 58px; left: 0;
    border-radius: 50%;
    animation: shadow 0.58s linear infinite;
  }
  @keyframes shadow{
    0% {transform: scale(1,1)}
    50% {transform: scale(1,2,1)}
    100% {transform: scale(1,1)}
  }
  
  .box1::after {
    content: '';
    width: 49px; height: 49px;
    background: #fdd245;
    position: absolute; left: 0; top: 0;
    border-radius: 3px;
    animation: load 0.58s linear infinite;
  }
  @keyframes load {
    17% {border-bottom-right-radius: 3px;}
    25% {transform: translatey(9px) rotate(22.5deg);}
    50% {transform: translatey(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;}
    75% {transform: translatey(9px) rotate(67.5deg);}
    100% {transform: translatey(0) rotate(90deg) }
  }


  #animation {
    background-image: url(https://tistory2.daumcdn.net/tistory/3108288/skin/images/steps.jpg);
    width: 50vw;
    height: 38vw;
    position: absolute;     left: 31%;
    top: 50%;
    margin-left: -600px; margin-top: -300px;
    animation: ani 1s steps(16, start) infinite;
  }
  #animation.btnStart {animation-play-state: running}
  #animation.btnStop {animation-play-state: paused}
  
  @keyframes ani {
    0% {background-position: 0 0}
    100% {background-position: -12800px 0}
  }
  .btn {
    position: absolute;
    top: 10vw;
    left: 0.5vw;
    z-index: 1000;
  }
  .btn a {
    background: #99adcc; color: #fff;
    padding: 8px 10px;
    margin: 2px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
  }

  .anim_title {
    
  }





  @import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

  /* $background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
  $red: #e55643;
  $green: #2b9f5e;
  $yellow: #f1c83c;
  $shadow: #533d4a; */

  .animo_box1 .container1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 225px;
  }
  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 47px;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .title111 {
    transform: translatex(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
  }
  .title111:nth-child(1) {
    color: #e55643;
  }
  .title111:nth-child(2) {
    color: #2b9f5e;
  }
  .title111:nth-child(3) {
    color: #f1c83c;
  }
  .title111 span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px,
    #533d4a 4px 4px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
  