/* header */
#header {
  position: fixed; left: 0; top: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.5s ease;
}
#header.on {
 top: -280px;
}
.header1 {
  text-align: center;
  background: #f4f4f4;
}
.header1 ul li {
  display: inline-block;
  padding: 14px 70px ;
  font-size: 15px;
  font-weight: bold;
  color: #999999;
  cursor: pointer;
  position: relative;
}
.header1 ul li span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px; left: 52%;
  width: 0px;
  height: 0;
  border-top: 4px solid #96c11f;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.header1 ul li:nth-child(2) span::before {
  border-top: 4px solid red;
}
.header1 ul li:nth-child(3) span::before {
  border-top: 4px solid orange;
}
.header1 ul li:last-child span::before {
  border-top: 4px solid skyblue;
}

.header1 ul li:hover span::before {
  width: 150px;    
}
.header1 ul li:hover {
  color: black;
}
.header2 {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: solid rgba(0,0,0,0.1);
}
.header2 h1 {
  padding: 25px 0 0 60px;
}
.header2 .h-menu {
  padding: 25px 130px;
}
.h-menu li::before {
  
}
.header2 .h-menu li {
  display: inline;
  font-size: 19px;
  padding: 3px 25px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;    
  position: relative;
}
.header2 ul li span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px; left: 50%;
  width: 0px;
  height: 0;
  border-top: 2px solid red;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.header2 ul li:nth-child(2) span::before {
  border-top:2px solid red;
}
.header2 ul li:nth-child(2):hover span::before {
  width: 105px;
}
.header2 ul li:nth-child(3) span::before {
  border-top:2px solid red;
}
.header2 ul li:nth-child(3):hover span::before {
  width: 70px;
}
.header2 ul li:last-child span::before {
  border-top:2px solid red;
}

.header2 ul li:hover span::before {
  width: 70px;    
}
.header2 .h-menu li:last-child {
  border: solid 1px;
  border-radius: 20px;
  padding: 4px 17px 5px 17px ;
  position: relative;
  z-index: 0;
  background: #fff;
  background-clip: padding-box;
}
.header2 .h-side {
  margin-right: 60px;
}
.header2 .h-side li {
  display: inline-block;
  font-size: 25px;
  font-weight: 100;
  padding: 24px 15px;
  cursor: pointer;
}
.header2 .h-side li:nth-child(3){
  position: relative;
}
.header2 .h-side li span {
  font-size: 13px;
  position: absolute; top: 30px; right: 22px;
}
.header3 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: white;
  padding: 20px 50px;
  border-bottom: solid rgba(0,0,0,0.1);
  background: #fff;
}
.header3 li {
  display: inline-block;
  padding-left: 15px;
}
.header3 .header3-ful {
  position: relative;
  color: #666666;
}

.header3 .header3-first {
  border: 1px solid #cccccc;
  padding: 11px 15px;
}
.header3 .header3-rside {
  border: 1px solid #cccccc;
  padding: 11px 20px;
}
.header3 .header3-rside i{
 color: #666666;
}
.header3-rside:hover {
  border-bottom: 2px solid red;
}
/* 베너 */
.banner {
  padding-top: 80px;
}

.banner h2.title {
  padding-top: 230px;
  width: 100%;
  font-size: 66px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.swiper-container{

}
.ban .slide01 {
  position: relative;
  width: 85%;
  height: 700px;
  background: url(../img/banner01.jpg) no-repeat center;
  background-size: cover;
}
/* .ban .slide01:before {
  width: 6px; height: 6px;
  content: '';
  position: absolute; top: 90%; left: 8%;
  background-color: #fff;
  border: 0 solid #fff;
  border-radius: 50%;
} */
.ban .slide02 {
  width: 85%;
  height: 700px;
  background: url(../img/banner02.jpg) no-repeat center;
  background-size: cover;
  
}
.ban .slide01 img {
  position: absolute; top: 8%; left: 3%;
  width: 46px; height: 46px;
}
.ban .slide01 p {
  padding-top: 120px;
  color: #fff;
  font-size: 48px;
  line-height: 62px;
  padding-left: 40px;
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

.ban .slide02 img {
  position: absolute; top: 8%; left: 3%;
  width: 46px; height: 46px;
}
.ban .slide02 p {
  padding-top: 120px;
  color: #fff;
  font-size: 48px;
  line-height: 62px;
  padding-left: 40px;
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

/* 헤시테그 */
.hashtag {
  text-align: center;
}

.hashtag ul {
  margin: 0 auto;
  width: 80%;
  padding: 75px 0;
}

.hashtag ul li {
  margin: 10px 0;
  padding: 0 15px;
  display: inline-block;
}

.hashtag ul li a {
  text-align: center;
  font-size: 24px;
  border-radius: 36px;
  display: inline-block;
  color: #666;
  font-weight: 600;
  padding: 15px;
}

.hashtag ul li:nth-child(odd) a {
  background-color: #e0ecde;
  border: 2px solid #e0ecde;
}

.hashtag ul li:nth-child(odd) a:hover {
  background-color: #fff;
  border: 2px solid #c3d9ab;
}

.hashtag ul li:nth-child(even) a {
  background-color: #fff;
  border: 2px solid #c3d9ab;
}

.hashtag ul li:nth-child(even) a:hover {
  background-color: #e0ecde;
  border: 2px solid #e0ecde;
}


/* nlive-tabe */
#nlive-tabe {
  margin: 0 auto;
  width: 1200px;
}
.tave {

}
.container1 {
  text-align: center;
}
.cont1 {
}
.cont1 ul {
  display: table;
  margin-bottom: 50px;
  border: solid #e8e8e8;
  border-width: 0 2px 2px 0;
  display: flex;
  
}
.cont1 ul li {
  flex-basis: 25%;
  font-size: 16px;
  color: #636262;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
 
}
.cont1 ul li.article3 {
position: relative;
}
.cont1 ul li a::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 48%;
  width: 8px;
  height: 8px;
  background-color: #e6001e;
  border-radius: 50%;
}

/* 이미지 부분 */
.cont2{
  margin: 0 auto;
  width: 1200px; height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,4fr);
  grid-gap: 20px;
}
.cont2 .simg1 {}
.cont2 .simg1 img {
  width: 46px; height: 46px;
}
.stxt {
  margin-bottom: 50px;
  position: relative;
  width: 383px; height: 383px;
}
.stxt:hover .stxtsss {
  background-color: rgba(0,0,0,0.8);
  width: 95%; height: 95%;
  display: inline-block;
} 
.stxtsss {
  display: none;
}
.stxt img{
  width: 100%;
  height: 100%;
}
.stxt h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  position: absolute; top:0; left: 0;
  padding: 60px 40px 50px;
}
.stxt p{
  color: #fff;
  max-width: 300px;
  max-height: 140px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  position: absolute; top: 0; left: 0;
  padding: 100px 40px 50px;
}
.stxt time {
  position: absolute; left: 0; bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #999;
  padding: 42px;
}
.stxt .pp {
  display: none;
}

.stxt .stxts{
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtsss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtsssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtsssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtssssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtsssssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtssssssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtsssssssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.stxt .stxtssssssssssss {
  width: 46px; height: 46px;
  position: absolute; top: 0; left: 0;
  padding-left: 20px;
  padding-top: 20px;
}

/*cont3 */
.cont3{
  margin: 0 auto;
  width: 1200px; height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,4fr);
  grid-gap: 20px;
}
.cont3 .simg1 {}
.cont3 .simg1 img {
  width: 46px; height: 46px;
}


/* list */
.list {
  position: absolute;

  left: calc(50% - 50px);
  ;
  text-align: center;
}
.list ul li i:hover {
  color: #000;
}
.list ul li span:hover {
  color: #000;
}
.list li a i {
    font-size: 26px;
    margin-bottom: 30px;
    border: 2px solid #010000;
    border-radius: 50%;
    padding: 15px;
  }
  .list li a span {
    font-size: 17px;
    font-weight: 600;
  }

/* footer */
#footer {
  padding-bottom: 10px;
  border-top: solid rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 10px 0;
  color: #666;
  margin-top: 250px;
}
.footer {
  width: 1200px;
  margin: 0 auto;
}

.footer .left {
  float: left;
}

.footer .left .left1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer .left .left1 li {
  display: inline;
  font-size: 15px;
  margin-right: 20px;
  position: relative;
}

.footer .left .left1 li strong.st1 {
  color: #539a00;
}

.footer .left .left1 li strong.st2 {
  color: #ff6216;
}

.footer .left .left1 li::after {
  content: '';
  width: 1px;
  height: 10px;
  background: #ccc;
  position: absolute;
  right: -12px;
  top: 7px;
}

.footer .left .left1 li:nth-child(5)::after {
  width: 0;
  height: 0;
}

.footer .left .left1 li:last-child:after {
  width: 0;
  height: 0;
}

.footer .left .left2 {
  margin-bottom: 20px;
  font-weight: 300;
}

.footer .left .left2 li {
  display: inline;
  font-size: 13px;
  margin-right: 20px;
  position: relative;
}

.footer .left .left2 li::after {
  content: '';
  width: 1px;
  height: 10px;
  background: #ccc;
  position: absolute;
  right: -14px;
  top: 5px;
}

.footer .left .left2 li:nth-child(4)::after {
  width: 0;
  height: 0;
}

.footer .left .left2 li:last-child:after {
  width: 0;
  height: 0;
}

.footer .left address {
  margin: 30px 0;
  font-style: normal;
  font-weight: 300;
}

.footer .right {
  float: right;
}

.footer .right .family p {
  margin-top: 30px;
  width: 200px;
  position: relative;
  font-size: 14px;
  border: 2px solid #e8e8e8;
  padding: 10px 0 10px 20px;
  border-radius: 23px;
  font-weight: bold;
  color: #666;
}

.footer .right .family p::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.footer .right ul li {
  display: inline-block;
  margin: 30px 5px;
}

.footer .right ul li img {
  width: 46px;
}