/* header */
#header {
  position: fixed; left: 0; top: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.5s ease;
}
#header.on {
 top: -280px;
}
.header1 {
  text-align: center;
  background: #f4f4f4;
}
.header1 ul li {
  display: inline-block;
  padding: 14px 70px ;
  font-size: 15px;
  font-weight: bold;
  color: #999999;
  cursor: pointer;
  position: relative;
}
.header1 ul li span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px; left: 52%;
  width: 0px;
  height: 0;
  border-top: 4px solid #96c11f;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.header1 ul li:nth-child(2) span::before {
  border-top: 4px solid red;
}
.header1 ul li:nth-child(3) span::before {
  border-top: 4px solid orange;
}
.header1 ul li:last-child span::before {
  border-top: 4px solid skyblue;
}

.header1 ul li:hover span::before {
  width: 150px;    
}
.header1 ul li:hover {
  color: black;
}
.header2 {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: solid rgba(0,0,0,0.1);
}
.header2 h1 {
  padding: 25px 0 0 60px;
}
.header2 .h-menu {
  padding: 25px 130px;
}
.header2 .h-menu li {
  display: inline;
  font-size: 19px;
  padding: 3px 25px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;    
  position: relative;
}
.header2 ul li span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px; left: 50%;
  width: 0px;
  height: 0;
  border-top: 2px solid red;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.header2 ul li:nth-child(2) span::before {
  border-top:2px solid red;
}
.header2 ul li:nth-child(2):hover span::before {
  width: 105px;
}
.header2 ul li:nth-child(3) span::before {
  border-top:2px solid red;
}
.header2 ul li:nth-child(3):hover span::before {
  width: 70px;
}
.header2 ul li:last-child span::before {
  border-top:2px solid red;
}

.header2 ul li:hover span::before {
  width: 70px;    
}
.header2 .h-menu li:last-child {
  border: solid 1px;
  border-radius: 20px;
  padding: 4px 17px 5px 17px ;
  position: relative;
  z-index: 0;
  background: #fff;
  background-clip: padding-box;
}
.header2 .h-side {
  margin-right: 60px;
}
.header2 .h-side li {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-weight: 100;
  padding: 24px 15px;
  cursor: pointer;
}
.header2 .h-side li i {
  position: relative;
}
.header2 .h-side li:nth-child(3){
  position: relative;
}
.header2 .h-side li span {
  font-size: 13px;
  position: absolute; top: 30px; right: 22px;
}


.header3 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: white;
  padding: 15px 60px;
  border-bottom: 1px solid #ccc;
}
.header3:hover {
  background-color: #fff;
  transition: 0.5s;
}
.header3-ful .header3-first:hover {
  color: #000;
  transition: 0.5s;
}
.header3-first:hover{
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}
.header3 li {
  display: inline-block;
  padding-left: 15px;
}
.header3 .header3-ful {
  position: relative;
  color: #666666;
}
.header3 .header3-first {
  border: 1px solid #fff;
  padding: 11px 15px;
  color: #fff;
}
.h3menu li {
  font-size: 14px;
  color: #fff;
}
.h3menu li span {
  font-size: 14px;
  padding-left: 10px;
  color: #fff;
}
.h3menu ul i {
  background: #fff;
}
.header3 .header3-rside {
  border: 1px solid #fff;
  padding: 11px 20px;
  color: #fff;
}
.header3 .header3-rside i{
 color: #fff;
}
.header3-rside:hover {
  border-bottom: 2px solid red;
}

/* banner */
#banner {
  position: relative;
}
#banner .banner {
  position: relative;
  width: 100%; height: 700px;
  background: url(../img/main.png) center;
  background-size: cover;
}
.banner .title {
  text-align: center;
  padding-top: 270px;
  font-size: 64px;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}
#banner .box {
  position: absolute; bottom: 125px; left: 600px;
  margin: 0 auto;
  width: 690px; height: 215px;
  border-bottom: 2px solid #ccc ;
  border-right: 2px solid #ccc;
}
#banner .box .sbox {
  position: absolute; bottom: 60px; left: 25px;
  margin: 0 auto;
  width: 610px; height: 130px;
  border-top: 2px solid #ccc ;
  border-left: 2px solid #ccc;
}
.sbox {
  position: relative;
}
.sbox span {
  width: 13px; height: 13px;
  position: absolute; top: -8px; left: 51%;
  background-color: #96c11f;
  border-radius: 50%;
}
.sbox p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 1.7em;
  padding-top: 50px;
}
.btn-quick {position: relative;}

#banner .btn-quick {
  position: absolute; left: 48%; bottom: -30px;
  margin: 0 auto;
  display: block;
  width: 50px; height: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.btn-quick a svg{
  position: absolute; left: 28%; bottom: 30%;
  width: 22px; height: 22px;
  color: #96c120;
  transform: rotate(-90deg);
}
/* container */
#container {
  margin: 0 auto;
  width: 1140px; height: 800px;
  padding-top: 220px;
}
.container-title{
text-align: left;
width: 1140px;
position: relative;
}
.container-title::before{
  content: '';
  position: absolute;
  top: -50px; left: 0px;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #96c11f;
}
.container-title h2{
  color: #212529;
  font-size: 32px;
  font-weight: bold;
}
.container span {
  color: #999999;
}
.row {
  position: relative;
  width: 1000px;
}
.row input {
  position: absolute; top: 95px; left: 80%;
  border: none;
  border-bottom: 1px solid #000;
  width: 338px;
  padding: 0 0 12px 0;
  font-size: 16px;
}
.row i {
  position: absolute; top: 100px; left: 111%;
  font-size: 20px;
}
.row p {
  width: 1140px;
  padding-bottom: 20px;
  font-size: 16px;
  color: #666666;
  padding-top: 100px;
  border-bottom: 1px solid #000;
}
.order {
  display: none;
}


.table {
  width: 1140px;
}
.table .theader {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.theader {
  width: 1100px;
  height: 30px;
  padding: 20px;
  float: left;
}
.table2 li {
  padding-top: 30px;
}
.theader li {
  padding-left: 30px;
  float: left;
  font-size: 18px;
  color: #212529;
  font-weight: 600;
}
.theader li:nth-child(2) {
  padding-left: 400px;
}
.theader li:nth-child(3) {
  padding-left: 420px;
}
 .theader li:nth-child(4) {
   padding-left: 50px;
}
.tbanner {
  padding: 15px;
  height: 50px;
}
.tbanner li {
  color: #666;
  font-size: 16px;
  float: left;
}
.tbanner li:nth-child(1) {
  padding-left: 40px;
}
.tbanner li:nth-child(2) {
  padding-left: 380px;
  padding-right: 440px;

}
.table3 {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}
.table3 ul {
padding-left: 55px;
}
.table3 .tfooter {
}

.tfooter li {
  padding-top: 30px;
  color: #666;
  font-size: 16px;
  float: left;
}
.tfooter li:nth-child(2) {
  padding-left: 380px;
}
.tfooter li:nth-child(3) {
  padding-left: 440px;
}
.tfooter li::before {
  content: '';
  position: absolute;
  bottom: -380px; left: 380px;
  display: block;
  width: 1145px;
  height: 1px;
  background: #ccc
}
.container .table4 {
  position: absolute; bottom: -550px; left: 45%;
  font-size: 16px;
}
.table4 .prev i {
  padding: 15px;
  color: #000;
  font-size: 23px;
  line-height: 54px;
}
.page_num a {
  display: inline-block;
  width: 54px;
  height: 54px;
  font-size: 30px;
  text-align: center;
}
.active{
  border: 1px solid #000;
  border-radius: 50%;
}
.table4 {
  position: relative;
 
}

.table4 .next i {
  padding: 15px;
  color: #000;
  font-size: 23px;
  line-height: 54px;
}
/* 이미지 슬라이드 */
#img-slide {
  position: relative;
  width: 100%;
  padding: 60px 0 100px 0;
  background: #f2f1de;
/* box-sizing: border-box; */
}
.swiper-slide img {
  width: 100%;
  
}
.swiper-slide span {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}



/* footer */
#footer {
  padding-bottom: 10px;
  border-top: solid rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 10px 0;
  color: #666;
}
.footer {
  width: 1200px;
  margin: 0 auto;
}

.footer .left {
  float: left;
}

.footer .left .left1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer .left .left1 li {
  display: inline;
  font-size: 15px;
  margin-right: 20px;
  position: relative;
}

.footer .left .left1 li strong.st1 {
  color: #539a00;
}

.footer .left .left1 li strong.st2 {
  color: #ff6216;
}

.footer .left .left1 li::after {
  content: '';
  width: 1px;
  height: 10px;
  background: #ccc;
  position: absolute;
  right: -12px;
  top: 7px;
}

.footer .left .left1 li:nth-child(5)::after {
  width: 0;
  height: 0;
}

.footer .left .left1 li:last-child:after {
  width: 0;
  height: 0;
}

.footer .left .left2 {
  margin-bottom: 20px;
  font-weight: 300;
}

.footer .left .left2 li {
  display: inline;
  font-size: 13px;
  margin-right: 20px;
  position: relative;
}

.footer .left .left2 li::after {
  content: '';
  width: 1px;
  height: 10px;
  background: #ccc;
  position: absolute;
  right: -14px;
  top: 5px;
}

.footer .left .left2 li:nth-child(4)::after {
  width: 0;
  height: 0;
}

.footer .left .left2 li:last-child:after {
  width: 0;
  height: 0;
}

.footer .left address {
  margin: 30px 0;
  font-style: normal;
  font-weight: 300;
}

.footer .right {
  float: right;
}

.footer .right .family p {
  margin-top: 30px;
  width: 200px;
  position: relative;
  font-size: 14px;
  border: 2px solid #e8e8e8;
  padding: 10px 0 10px 20px;
  border-radius: 23px;
  font-weight: bold;
  color: #666;
}

.footer .right .family p::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.footer .right ul li {
  display: inline-block;
  margin: 30px 5px;
}

.footer .right ul li img {
  width: 46px;
}