@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;669;700;800;900&display=swap');
body {
    font-family: 'Maven Pro', sans-serif;
}
/* 헤더 팝업 창 */
#slidemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 32px;
    height: 180px;
    margin: auto;
    font-size: 1.2em;
    z-index: 10;
    text-align: center;
}
#slidemenu .sidmenu {
    width: 32px;
    height: auto;
    padding: 10px 0;
    background-color: rgba(51,51,51,0.5);
    border-radius: 20px;
}
.slidemenu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#slidemenu a.active1 {
    width: 10px;
    height: 10px;
    background: url(../icons/page_on.png) center center no-repeat;
}
#slidemenu a {
    display: block;
    margin: auto;
    position: relative;
    width: 10px;
    height: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    background: url(../icons/page_off.png) center center no-repeat;
}




/* submenu */
#submenuwrap {
    width: 100%; 
    height: 100vh;
    border-top: 1px solid #333333;
    position: absolute;
    top: -150vh;
    left: 0;
    z-index: 300;
}
.submenu {
    padding-top: 150px;
    width: 100%; height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    align-items: flex-start;
    z-index: 300;
}

.submenu .title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.submenu .title a {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.7;
    padding: 20px;
}
.submenu .title span:hover {
    border-bottom: 2px solid #fff;
}
.submenu .title .sub{
    color: #999999;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.7;
    padding: 0;
    text-transform: uppercase;
}
.submenu .title span{
    color:#fff;
}
.submenu .content {

}
.submenu .content ul{
    font-size: 18px;
    color: #999;
}
#submenuwrap .close {
    z-index: 300;
    position: absolute; top: 25px; right: 35px;
}
#submenuwrap .close svg {
    width: 40px; height: 40px; fill: #fff;
    vertical-align: top;
}





/* 사이드 메뉴 만들기 */


/* 헤더 */
.wrap {
}

.header {
    width: 100%; height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    min-width: 1100px;
}
.header .area {
    width: 100%; 
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    animation: fadeInDown 3s ;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrap .area img {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 79px; height: 40px;
}

/* 탑 메뉴 */
.header .area .menus {
    width: 810px; height: 100px;
    margin: auto;
    padding-top: 31px;
    position: relative;
}
.menus a .topmeau {
    color: #fff;
}
.menus .on {
    color: #fff;
    /* text-decoration: underline; */
}
.menus .topmeau {

/* position: absolute; top: 50%; left: 50%; */
}
.header .area .menus a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Maven Pro';
    text-transform: uppercase;
    margin-right: 60px;
}
.header .area .menus a:last-child {
    margin-right: 0;
}



/* sidemenu */
.sidemenu {
    
}
.side {
}
.sidemenu a {
  
}
.area .side img{
    position: absolute; left: 96%; top: 26px;
    width: 40px; height: 30px;
    
}

/* banner */
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    width: 100%; height: 100vh;
    transition: transform 1s cubic-bezier(1, 0.265, 0, 1.225) 0s;
}
.swiper-slide {}
.swiper-slide img{
    width: 100%; height: 100%;
}


/* 글씨 부분 */
.main_visual {
    transition-timing-function: ease;
}
.main_visual .on {
    width: 100%;
    height: 100%;
}   
.main_visual .vamtitle {
    text-transform: uppercase;
    text-align: center;
    min-width: 1200px;
}
.vamt-align {
    position: absolute; top: -100%; left: 17%;
    top: 35%;
    z-index: 1;
}
.vamtitle .tit1{
    color: #fff;
    font-size: 80px;
    height: 100px;
    font-weight: 400;
    font-family: 'Maven Pro';
}
.vamtitle .tit2{
    display: inline-block;
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Maven Pro';
}
.vamtitle .tit3{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}
.tit {
    animation: fadeInDown 3s ;
    /* animation-name: fadeInDown; */
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 마우스 이미지 */
.marrow {
    z-index: 1;
    position: absolute;
    left: 50%; bottom: 12%;
    animation: mainItem 2s ease-in-out infinite alternate;
}
.marrow .con {
    position: relative;
    height: 130px;
}
.con img {
    vertical-align: middle;
    width: 22px; height: 130px;
}
.con1 img {
    position: absolute; left: 46%; top: 48%;
    width: 2px; height: 4px;
}
@keyframes mainItem {
    0% {
        transform: translate(0,-10px);
    }
    90% {
        transform: translate(0,125%);
    }
    100% {
        transform: translate(0, 200%);
        opacity: 0;
    }
}

/* content-wrap */
#contentwrap {
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
    background: #fff;
}
.content-header{}
.content-title{
    text-transform: uppercase;
    color: #222;
    text-align: center;

}
.content-title .en1{
    font-family: 'Maven Pro', sans-serif;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 400px;
}
.content-title .en2{
    font-family: 'ygpstit', sans-serif;
    font-size: 18px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 48px;
    font-weight: 300;
}

/* content tabmenu */
.tabmenu {
    width: 100%; height: 90px;
    border-top: 1px solid #e6e6e6;
}
.tabmenu a {
    width: 300px;
    display: inline-block;
    height: 81px;
    text-align: right;
}
.tabmenu .active {
    border-top: 2px solid #000;
}
.tabmenu a::after {
    content: '|';
    color: #dfdfdf;
    font-size: 20px;
    line-height: 81px;
    font-weight: 300px;
}
.tabmenu a:last-child::after {
    content: '|';
    color: #fff;
    font-size: 20px;
    line-height: 81px;
    font-weight: 300px;
}
.tabmenu a:nth-child(1) {
    background-image: url(../icons/m_tab01_on.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.tabmenu a:nth-child(2) {
    background-image: url(../icons/m_tab02_on.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.tabmenu a:nth-child(3) {
    background-image: url(../icons/m_tab03_on.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.tabmenu a:nth-child(4) {
    background-image: url(../icons/m_tab04_on.png);
    background-repeat: no-repeat;
    background-position: center center;
}
a:link, a:visited {
    color: #000;
}




/* 이미지 부분 */
.story {
    min-width: 1200px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;

}

.caroufredsel_wrapper {
    display: block;
    text-align: start;
    float: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: auto;
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.sarea {
    text-align: left;
    float: none;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
    width: 17280px;
    height: 600px;
    z-index: auto;
}

.zoomimg {
    position: relative;
    transform: scale(1);
}
.s1 {
    overflow: hidden;
}
.s2 {
    overflow: hidden;
}
.s3 {
    overflow: hidden;
}
.items .zoomimg:hover {
    transform: scale(1.1);

    transition: all 0.4s ease-in-out;
}
.zoomimg:hover .align {
    width: 100%;
    height: 3000px;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.6s ease-in-out;
}
.story .sarea .items .s1 {  
    position: relative;
    float: left;
    width: 50%;
    height: 600px;
    overflow: hidden;
    z-index: 11;
}
.s1 .zoomimg {
    background-image: url(../icons/main_story_v0301.png);
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.story .sarea .items .s2 {
    position: relative;
    float: left;
    width: 50%;
    height: 300px;
    overflow: hidden;
}
.s2 .zoomimg {
    background-image: url(../icons/main_story_v0302.png);
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.story .sarea .items .s3 {
    position: relative;
    float: left;
    width: 50%;
    height: 300px;
    overflow: hidden;
}
.s3 .zoomimg {
    background-image: url(../icons/main_story_v0303.png);
    background-size: cover;
    background-position: center center;
    height: 100%;
}


#contentwrap .s4 {
    height: 1vh;
}
.align {
    height: 35px;
}
.ent1 {
    position: absolute; left: 45%; top: 45%;
    z-index: 10;
    width: 100%;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #fff;
}
.ent2 {
    position: absolute; left: 32%; top: 51%;
    font-family: 'ygpstit', sans-serif;
    opacity: .8;
    font-size: 18px;
    margin-top: 13px;
    color: #fff;
}
.align .ent3 {
    position: absolute; left: 44%; top: 37%;
    z-index: 10;
    width: 100%;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #fff;
}
.align .ent4 {
    position: absolute; left: 27%; top: 51%;
    font-family: 'ygpstit', sans-serif;
    opacity: .8;
    font-size: 18px;
    margin-top: 13px;
    color: #fff;
}
.align .ent5 {
    position: absolute; left: 42%; top: 37%;
    z-index: 10;
    width: 100%;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #fff;
}
.align .ent6 {
    position: absolute; left: 36%; top: 51%;
    font-family: 'ygpstit', sans-serif;
    opacity: .8;
    font-size: 18px;
    margin-top: 13px;
    color: #fff;
}

/* contwrap2 */
#contwrap2 {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100vh;
}
.title1 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.title2 {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    background-color: #f5f2ed;
    position: relative;
    padding-top: 1%;
}

.title3 {
    width: 100%;
    height: 570px;
    min-width: 1200px;
    max-width: 1680px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.tit {
    padding-left: 100px;
    overflow: hidden;
}
.titimg {
    background-image: url(../icons/main_ourtime.png);
    width: 740px;
    height: 550px;
}
.tit4 {
    z-index: 1;
    padding-left: 100px;
    position: absolute; top: 16%; left: 50%;
    float: right;
}
.tit4 h2 {
    font-size: 25px;
    color: #222222;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;

}
.tit4 .span {
    font-size: 50px;
    margin-top: 20px;
    color: #333333;
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;

}
.tit4 .span1 {
    font-size: 18px;
    color: #888888;
    margin-top: 30px;
    line-height: 1.7;
    font-weight: 300;
}
.tit4 img {
    width: 170px;
    height: 50px;
    font-size: 13px;
    background-color: #333333;
    color: #fff;
    margin-top: 35px;
}
.tit5 img {
    position: absolute; top: 20%; left: 64%;
    width: 700px;
    height: 600px;
}


/* contwrap3 */
#contwrap3 {
    padding-top: 80px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100vh;
  }
  .title4 {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
  }
  .title5 {
      width: 100%;
      min-width: 1200px;
      height: 100%;
      background-image: url(../icons/main_pebg.png);
      position: relative;
  }
  
  .title6 {
      width: 100%;
      height: 570px;
      min-width: 1200px;
      max-width: 1680px;
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);
  }
  .tit_1 {
      display: flex;
      padding-left: 100px;
      overflow: hidden;
  }
  .tit_img {
      position: absolute; top: 28%; left: 50%;
      background-image: url(../icons/main_people.png);
      width: 740px;
      height: 540px;
  }
  .tit6 {
      z-index: 1;
      padding-left: 100px;
      position: absolute; top:31%; left: 15%;  
      float: left;
  }
  .tit6 h2 {
      font-size: 25px;
      color: #222222;
      font-weight: 400;
      font-family: 'Maven Pro', sans-serif;
  
  }
  .tit6 .span2 {
      font-size: 50px;
      margin-top: 20px;
      color: #000000;
      line-height: 1.2;
      font-weight: 500;
      font-family: 'Maven Pro', sans-serif;
  
  }
  .tit6 .span3 {
      font-size: 18px;
      color: #888888;
      margin-top: 30px;
      line-height: 1.7;
      font-weight: 300;
  }
  .tit6 img {
      width: 170px;
      height: 50px;
      font-size: 13px;
      background-color: #333333;
      color: #fff;
      margin-top: 35px;
  }

    /* joy*/
    #joy {
        width: 100%;
        height: 100vh;
        background-image: url(../icons/bg_joy.png);
        background-repeat: no-repeat;
        background-position: 270px 230px;
        background-color: rgba(230,231,226);
    }
    .joy1 {
        /* width: 100%;
        height: 100%; */
    }
    .joybody {
        display: grid;
        grid-template-columns: repeat(5,328px);
        grid-template-rows: repeat(2,328px);
        justify-content: center;
        width: 100%;
        height: 800px;
        padding-top: 110px;
        position: relative;
        overflow: hidden;
    } 
    .joytitle {
    }
    .joytitle h2 {
        line-height: normal;
        width: 328px; height: 210px;
        font-size: 60px;
        color: #333333;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .joytitle1 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/thumb-31294850.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle2 {
        width: 328px; height: 328px;;
        background: #fff;
        background-image: url(../icons/joyimg2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle3 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/joyimg3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle4 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/joyimg4.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle5 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/joyimg5.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle6 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../img/joyjpg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle7 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/joyimg6.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle8 {
        width: 328px; height: 328px;
        background: #fff;
        background-image: url(../icons/joyimg7.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .joytitle9 {
        width: 328px; height: 328px;
        background-image: url(../icons/joyimg8.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dddd{
        overflow: hidden;
    }
    .ddd {
        position: relative;
        transform: scale(1.0);
    }
    .ddd::before { 
       content: "";
       width: 328px;
       height: 328px;
       position: absolute;
       top: 0px;
       left: 0px;
       background-color: rgba(0,0,0,0.7);
       opacity: 0;
    }
    .ddd:hover::before {
        cursor: pointer;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }
    .ddd:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
    }
    /* footer */
    #footer {
        font-family: 'Nanum Barun Gothic';
        width: 100%; height: 250px;
    }
    .center1 {
        width: 100%; height: 80px;
        overflow: hidden;      
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ededed;
    }
    .footerhed {
        width: 600px;
        margin: 0 auto;
    }
    .footerhed li {
        float: left;
    }
    .footerhed li a {
        padding-left: 50px;
        font-size: 16px;
        color: #666666;
    }
    .footerhed li img{
        width: 25px; height: 25px;
    }

    .center2 {
        position: relative;
        width: 100%; height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .footerbot {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footerbot .strong {
        font-size: 14px;
        color: #666666;
    }
    .strong span::after {
        content: '|';
        padding-right: 8px;
        padding-left: 8px;
        color: #d9d9d9;
        font-weight: 300;
        font-size: 12px;
    }
    .footerbot .mid {
        margin-top: 20px;
        color: #999999;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: -1px;
    }
    .mid span::after {
        content: '|';
        padding-right: 6px;
        padding-left: 6px;
        color: #d9d9d9;
        font-weight: 300;
        font-size: 12px;
    }
    .footerbot .footerbottom {
        color: #cccccc;
        font-size: 13px;
        margin-top: 15px;
        font-weight: 300;
    }
    .footerbottom span::after {
        content: '|';
        padding-right: 4px;
        padding-left: 2px;
        color: #d9d9d9;
        font-weight: 300;
        font-size: 12px;
    }